# permits-data / Load Data

ETL pipeline for construction permits data in Los Angeles, California, USA.

For more information:
https://data.lacity.org/A-Prosperous-City/Building-and-Safety-Permit-Information/yv23-pmwf

In [23]:
import os
import sys
from dotenv import load_dotenv, find_dotenv
load_dotenv(find_dotenv());
import numpy as np
import pandas as pd
import psycopg2

In [24]:
# Set notebook display options
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)

In [25]:
# Get project root directory
root_dir = os.path.dirname(os.getcwd())

# Set path for modules
sys.path[0] = '../'

# Set environment variables
POSTGRES_USER = os.getenv("POSTGRES_USER")
POSTGRES_PASSWORD = os.getenv("POSTGRES_PASSWORD")
POSTGRES_DB = os.getenv("POSTGRES_DB")
DB_PORT = os.getenv("DB_PORT")
DB_HOST = os.getenv("DB_HOST")
DATA_URL = os.getenv("DATA_URL")

# Environment variables specific to notebook
DATA_DIR = os.path.dirname(root_dir) + '/data'
DB_TABLE = "permits_raw"

## 1. Import Data

In [61]:
# Connect to PostgreSQL, useful only for notebook
def connect_db():
    try:
        con = psycopg2.connect(dbname=POSTGRES_DB,
                               user=POSTGRES_USER,
                               password=POSTGRES_PASSWORD,
                                host=DB_HOST, 
                                port=DB_PORT)
    except Exception as e:
        print('Error:\n', e)
    
    return con

In [62]:
conn = connect_db()

### 1.1 Update Table Columns in PostgreSQL Database

In [63]:
# Get raw data column names
def get_table_names(table, con):
    sql = "SELECT * FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = N'{}'".format(table)
    etl = pd.read_sql_query(sql, con)
    columns = etl['column_name']
    
    return columns

In [64]:
# Check table names
get_table_names("permits_raw", conn).head(10)

0                 assessor_book
1                 assessor_page
2               assessor_parcel
3                         tract
4                         block
5                           lot
6    reference_no_old_permit_no
7                pcis_permit_no
8                        status
9                   status_date
Name: column_name, dtype: object

In [30]:
# Retrieve table column names
old_columns = get_table_names("permits_raw", conn)

In [31]:
# Rename columns, will update table later
def format_names(series):
    
    replace_map = {' ': '_', '-': '_', '#': 'No', '/': '_', 
                   '.': '', '(': '', ')': '', "'": ''}

    def replace_chars(text):
        for oldchar, newchar in replace_map.items():
            text = text.replace(oldchar, newchar).lower()
        return text

    return series.apply(replace_chars)

In [32]:
# Transform table column names for permits_raw
new_columns = format_names(old_columns)

In [33]:
new_columns.head()

0      assessor_book
1      assessor_page
2    assessor_parcel
3              tract
4              block
Name: column_name, dtype: object

In [35]:
# Creates a SQL query to update table columns and writes to text file
### pass conn context
def create_query(old_columns, new_columns, db_table, con, run=False):
    
    sql = 'ALTER TABLE {} '.format(db_table) + 'RENAME "{old_name}" to {new_name};'
    
    
    sql_query = []

    for idx, name in old_columns.iteritems():
        sql_query.append(sql.format(old_name=name, new_name=new_columns[idx]))
        
    update_names = '\n'.join(sql_query)
    
    # update later: sql_file = os.path.join(os.path.dirname(__file__), "../postgres/scripts/update_names.sql")
    with open('../postgres/sql/update_names.sql', 'w') as text:
        text.write(update_names)
        
    # Update db is desired
    if run:
        cur = con.cursor()
        sql_file = open('../postgres/sql/update_names.sql', 'r')
        cur.execute(sql_file.read())
        con.commit()
        #conn.close()

In [36]:
# Create SQL query for permits_raw
try:
    create_query(old_columns, new_columns, run=True, con=conn, db_table=DB_TABLE)
except Exception as e: 
    conn.rollback()
    print('Error:\n', e)

In [38]:
# Check table names are updated
get_table_names("permits_raw", conn).head()

0      assessor_book
1      assessor_page
2    assessor_parcel
3              tract
4              block
Name: column_name, dtype: object

In [53]:
# TEST: 
assert (get_table_names("permits_raw", 
                        conn) == new_columns).mean() == 1, "Database table names do not match new table names"

In [55]:
# Extract full dataset
sql_all = 'SELECT * FROM {};'.format(DB_TABLE)

# Extract full dataset
data = pd.read_sql_query(sql_all, conn)
data.head()

,assessor_book,assessor_page,assessor_parcel,tract,block,lot,reference_no_old_permit_no,pcis_permit_no,status,status_date,permit_type,permit_sub_type,permit_category,project_number,event_code,initiating_office,issue_date,address_start,address_fraction_start,address_end,address_fraction_end,street_direction,street_name,street_suffix,suffix_direction,unit_range_start,unit_range_end,zip_code,work_description,valuation,floor_area_la_zoning_code_definition,no_of_residential_dwelling_units,no_of_accessory_dwelling_units,no_of_stories,contractors_business_name,contractor_address,contractor_city,contractor_state,license_type,license_no,principal_first_name,principal_middle_name,principal_last_name,license_expiration_date,applicant_first_name,applicant_last_name,applicant_business_name,applicant_address_1,applicant_address_2,applicant_address_3,zone,occupancy,floor_area_la_building_code_definition,census_tract,council_district,latitude_longitude,applicant_relationship,existing_code,proposed_code
0,4317,003,***,TR 30210-C,None,LT 1,None,15044-90000-08405,Permit Finaled,09/10/2015,HVAC,1 or 2 Family Dwelling,No Plan Check,None,None,INTERNET,2015-08-18,1823,1/2,1823,1/2,S,THAYER,AVE,None,None,None,90025.0,None,NaN,None,None,None,None,CONDITIONED AIRE MECHANICAL & ENGINEERING INC,18650 PARTHENIA STREET,NORTHRIDGE,CA,C20,532440,BRETT,MOORE,HOFFER,2016-06-30,BRETT,HOFFER,None,18650 PARTHENIA ST,None,"NORTHRIDGE, CA",R3-1-O,None,0,2671.00,5,"(34.05474, -118.42628)",Net Applicant,NaN,NaN
1,5005,010,017,CHESTERFIELD SQUARE,None,465,16SL57806,16016-70000-02464,Permit Finaled,08/01/2017,Bldg-Alter/Repair,1 or 2 Family Dwelling,No Plan Check,None,None,SOUTH LA,2016-02-04,2122,None,2122,None,W,54TH,ST,None,None,None,90062.0,General rehabilitation for single family dwell...,40000.0,None,None,None,None,OWNER-BUILDER,None,None,None,NA,0,JAVIER,None,TALAMANTES,None,JAVIER,TALAMANTES,OWNER-BUILDER,None,None,None,C2-1VL,None,None,2325.00,8,"(33.99307, -118.31668)",Owner-Bldr,1.0,NaN
2,5154,023,022,SUN-SET TRACT,D,13,14VN81535,14016-20000-13092,Issued,08/13/2014,Bldg-Alter/Repair,Apartment,Plan Check,None,None,VAN NUYS,2014-08-13,415,None,415,None,S,BURLINGTON,AVE,None,1-30,1-30,90057.0,PHOTOVOLTAIC SOLAR PANELS ON ROOF OF (E) APT BLDG,37000.0,None,None,None,None,PERMACITY CONSTRUCTION CORP,5570 W WASHINGTON BLVD,LOS ANGELES,CA,B,827864,JONATHAN,SAUL,PORT,2015-11-30,LINDA,MARTON,None,710 WILSHIRE BLVD,None,"SANTA MONICA, CA",R4-1,None,None,2089.04,1,"(34.06012, -118.26997)",Agent for Owner,5.0,NaN
3,4404,030,010,TR 12086,None,2,None,16044-30000-09658,Permit Finaled,08/29/2016,HVAC,1 or 2 Family Dwelling,No Plan Check,None,None,WEST LA,2016-08-22,315,None,315,None,S,OCEANO,DR,None,None,None,90049.0,None,NaN,None,None,None,None,E/C HEATING AND AIR CONDITION,26888 CUATRO MILPAS ST,VALENCIA,CA,C20,651051,EDY,RUDOLFO,CORDON,2018-07-31,None,None,None,None,None,None,RS-1,None,0,2640.00,11,"(34.05707, -118.4732)",Contractor,NaN,NaN
4,2646,019,011,TR 7158,None,11,None,17042-90000-31792,Permit Finaled,12/28/2017,Plumbing,1 or 2 Family Dwelling,No Plan Check,None,None,INTERNET,2017-12-26,13640,None,13640,None,W,PIERCE,ST,None,None,None,91331.0,None,NaN,None,None,None,None,TITANIUM POWER INC,1545 S LA CIENEGA BLVD,LOS ANGELES,CA,B,989217,DENNIS,HARUO,MIYAHIRA,2017-12-31,YONI,GHERMEZI,None,1545 S LA CIENEGA BLVD,None,"LOS ANGELES, CA",R1-1-O,None,0,1044.03,7,"(34.25487, -118.43002)",Net Applicant,NaN,NaN

In [56]:
data.shape
conn.close()

## 2. Clean Data

In [1090]:
# Connect to db
conn = connect_db()

# Extract partial dataset
sql_all = 'SELECT * FROM {} LIMIT 1500;'.format(DB_TABLE)

# Columns to parse as dates
date_columns = ['status_date', 'issue_date', 'license_expiration_date']

# Fetch fresh data
data = pd.read_sql_query(sql_all, conn, parse_dates=date_columns, 
                         coerce_float=False)

In [1091]:
data.head()

,assessor_book,assessor_page,assessor_parcel,tract,block,lot,reference_no_old_permit_no,pcis_permit_no,status,status_date,permit_type,permit_sub_type,permit_category,project_number,event_code,initiating_office,issue_date,address_start,address_fraction_start,address_end,address_fraction_end,street_direction,street_name,street_suffix,suffix_direction,unit_range_start,unit_range_end,zip_code,work_description,valuation,floor_area_la_zoning_code_definition,no_of_residential_dwelling_units,no_of_accessory_dwelling_units,no_of_stories,contractors_business_name,contractor_address,contractor_city,contractor_state,license_type,license_no,principal_first_name,principal_middle_name,principal_last_name,license_expiration_date,applicant_first_name,applicant_last_name,applicant_business_name,applicant_address_1,applicant_address_2,applicant_address_3,zone,occupancy,floor_area_la_building_code_definition,census_tract,council_district,latitude_longitude,applicant_relationship,existing_code,proposed_code
0,5017,018,018,VERMONT AVENUE SQUARE,7,18,None,18044-40000-12028,Issued,2018-09-27,HVAC,1 or 2 Family Dwelling,No Plan Check,None,None,SANPEDRO,2018-09-27,1110,None,1110,None,W,45TH,ST,None,None,None,90037,None,None,None,None,None,None,WE CARE,41085 GOLDEN GATE CIR,MURRIETA,CA,C20,779604,RUSSELL,JAY,COCHRAN,2019-06-30,RAY,THOMAS,None,None,None,None,R1-1,None,0,2322.00,9,"(34.00254, -118.29429)",Agent for Contractor,NaN,NaN
1,5092,030,009,WESTERN WILSHIRE HEIGHTS,None,10,None,17041-90000-35394,Refund in Progress,2017-10-20,Electrical,Commercial,No Plan Check,None,None,INTERNET,2017-10-03,3932,None,3932,None,W,WILSHIRE,BLVD,None,None,None,90010,None,None,None,None,None,None,HERZOG M B ELECTRIC INC,15709 ILLINOIS STREET,PARAMOUNT,CA,C10,383811,RYAN,MICHAEL,HERZOG,2017-11-30,LINDA,BUSH,None,15709 ILLINOIS AVE,None,"PARAMOUNT, CA",C4-2,None,0,2126.10,10,"(34.06153, -118.31244)",Net Applicant,NaN,NaN
2,2014,035,007,TR 26109,None,27,None,15041-90000-24929,Permit Finaled,2015-08-24,Electrical,1 or 2 Family Dwelling,No Plan Check,None,None,INTERNET,2015-08-03,7707,None,7707,None,N,SEDAN,AVE,None,None,None,91304,None,None,None,None,None,None,ZERO ENERGY CONTRACTING INC,1010 ESPLANADE APT 2,REDONDO BEACH,CA,B,953417,KENNETH,GARY,GIETZ,2016-10-31,MICHAEL,MURPHY,None,1060 SHOEMAKER AVE,C,"SANTA FE SPRINGS, CA",RS-1,None,0,1344.23,12,"(34.21049, -118.62979)",Net Applicant,NaN,NaN
3,5561,005,007,TR 11794,None,13,13LA17342,12016-20002-14411,Permit Finaled,2014-08-13,Bldg-Alter/Repair,1 or 2 Family Dwelling,Plan Check,None,None,VAN NUYS,2013-06-03,1544,None,1544,None,N,DOHENY,DR,None,None,None,90069,SUPPLEMENTAL PERMIT TO VOLUNTARY ADD...,15000.00,None,None,None,None,MC BUILDERS GROUP,7801 VICKY AVENUE,WEST HILLS,CA,B,880257,JOSEPH,NATHANAEL,COOK,2014-06-30,JESUS,BERMUDEL,None,4225 E IMPERIAL HWY,B,LYNWOOD,RE11-1,None,None,1943.00,5,"(34.09993, -118.38902)",Agent for Owner,1.0,NaN
4,4404,023,004,WESTGATE ACRES,None,73,16LA69558,16016-10000-21023,Permit Finaled,2017-05-05,Bldg-Alter/Repair,1 or 2 Family Dwelling,Plan Check,None,None,METRO,2016-09-13,445,None,445,None,S,SALTAIR,AVE,None,None,None,90049,REPLACE GARAGE DOORS AT (E) GARAGE W...,5000.00,None,None,None,None,VALLE/REINIS BUILDERS INC,10537 TENNESSEE AVENUE,LOS ANGELES,CA,B,839178,BRIAN,SCOTT,VALLE,2017-07-31,TIM,BARBER,None,8455 BEVERLY BL,None,"LOS ANGELES, CA",RS-1,None,None,2640.00,11,"(34.05463, -118.47387)",Agent for Owner,7.0,NaN

### 2.1 Missing Data & Data Types

#### Overview of Unique Values in Qualitative Data

Before making decisions regarding missing values or data types, it is important to be familiar with the content of each column especially considering the permits dataset mostly contains qualitative data.

#### Summary
* *zip_code* and *latitude_longitude* need their missing values to be inferred through geocoding.
* *issue_date* and *license_expiration_date* should be parsed as datetime objects on import
* *license_no*, *existing_code* and *proposed_code* converted to int
*  and 

#### Steps
1) Split *latitude_longitude* into separate columns and convert to float values: *latitude*, *longitude*<br>
2) Combine address columns into one columns: *full_address*<br>
3) Geocode missing *latitude_longitude* with *full_address*<br>
4) Geocode missing *zip_code* with complete *latitude_longitude*<br>
5) Geocode any missing *full_address* with *latitude_longitude*<br>
6) Convert *zip_code* to integer type<br>

In [1264]:
### Returns overview with column, dtype, # unique values, # missing values and sample value
def get_overview(dataframe):
    
    """
    Returns a new pandas DataFrame with the column name, number
    of unique values, number of null values, and a sample value.
    
    Example
    -------
    
    overview = get_overview(my_dataframe)
    
    """
    unique = dataframe.nunique(axis=0)
    is_null = dataframe.isnull().sum()
    data_types = dataframe.dtypes
    
    samples = pd.DataFrame()
    column_names = pd.DataFrame()
    
    for column, row in df.iteritems():
        try:
            sample = df[column].dropna(axis=0).sample()
            column_name = pd.Series(column)
        except:
            pass

        samples = pd.concat([samples, sample], axis=0).reset_index(drop=True)
        column_names = pd.concat([column_names, column_name], 
                                 axis=0, ).reset_index(drop=True)

        examples = pd.concat([column_names, samples], axis=1, ignore_index=True)
        examples.columns = ['COLUMN', 'SAMPLE VALUE']
    
    overview = pd.concat([data_types, unique, is_null], axis=1)
    overview.reset_index(inplace=True)
    overview.columns = columns=['COLUMN', 'DATA TYPE', '# UNIQUE VALUES', '# MISSING VALUES']
    overview = overview.merge(right=examples, on='COLUMN').drop_duplicates(subset=['COLUMN']).set_index('COLUMN')
    
    return overview

In [1110]:
get_overview(data)

,DATA TYPE,# UNIQUE VALUES,# MISSING VALUES,SAMPLE VALUE
COLUMN,,,,
assessor_book,object,735,4,5053
assessor_page,object,46,4,003
assessor_parcel,object,121,4,002
tract,object,1202,8,TR 16981
block,object,93,1231,6
lot,object,287,7,10
reference_no_old_permit_no,object,527,878,19LA27894
pcis_permit_no,object,1500,0,14016-10000-18696
status,object,11,0,Issued
status_date,datetime64[ns],985,0,10/09/2018
permit_type,object,15,0,Bldg-Addition
permit_sub_type,object,5,0,Apartment
permit_category,object,2,0,No Plan Check
project_number,object,2,1479,5
initiating_office,object,6,0,METRO
issue_date,datetime64[ns],978,0,2013-01-17
address_start,object,1311,0,455
address_fraction_start,object,3,1482,1/2
address_end,object,1314,0,7421
address_fraction_end,object,1,1466,1/2
street_direction,object,4,25,E
street_name,object,959,0,TOYOPA
street_suffix,object,14,35,ST
suffix_direction,object,7,1486,EAS
unit_range_start,object,238,1208,#835
unit_range_end,object,40,1457,Lot 1
zip_code,int64,115,0,90003
work_description,object,568,878,Reroof with 12 sqrs COMP SHINGLE roo...
valuation,object,192,978,16390
floor_area_la_zoning_code_definition,object,67,1411,0
no_of_residential_dwelling_units,object,8,1456,1
no_of_stories,object,6,1411,1
contractors_business_name,object,1016,0,ALL FOUR SEASONS AIR CONDITIONING & ...
contractor_address,object,1027,177,4727 DON PIO DRIVE
contractor_city,object,230,185,LYNWOOD
contractor_state,object,15,185,CA
license_type,object,21,0,B
license_no,object,996,0,539835
principal_first_name,object,529,167,JAMES
principal_middle_name,object,390,564,PAUL
principal_last_name,object,885,170,ALDRIDGE
license_expiration_date,datetime64[ns],111,133,2015-05-31
applicant_first_name,object,605,358,ANNA
applicant_last_name,object,700,537,HUARACHA
applicant_business_name,object,116,1333,ADVANCE FIRE PROTECTION
applicant_address_1,object,607,733,21040 NORDHOFF ST
applicant_address_2,object,150,1270,698
applicant_address_3,object,233,744,"BEVERLY HILLS, CA"
zone,object,306,5,R3-1
occupancy,object,3,1478,Misc. Occ. Group
floor_area_la_building_code_definition,object,76,303,0
census_tract,object,665,2,1861.00
council_district,object,15,2,14
latitude_longitude,object,1396,49,"(33.89984, -118.28274)"
applicant_relationship,object,10,34,Agent for Contractor
existing_code,float64,19,1126,1
proposed_code,float64,19,1319,19

In [1263]:
# Creates a report to show value counts for columns with less than n unique values
def explore_value_counts(dataframe, n=None, all_values=False, max_n=1500, columns=None, printed=True):
    
    """
    This function is helpful for quickly determining which values
    should be converted to integer or category types in a dataframe.
    
    Prints a series of custom text summaries with n value counts 
    for each column. Can work if neither n nor columns are specified.
    
    Also can returns a generator yielding a text summary with n
    value counts for each column.
    
    Example:
    --------
    ## Iterates through individual tables
    gen = explore_value_counts(data, printed=False)
    print(next(gen)) 
    
    ## Prints all tables to STDOUT
    explore_value_counts(data, printed=True)
    
    Params
    --------
    dataframe : pandas DataFrame
        DataFrame with columns to be summarized
    n : integer
        Max number of unique categories in column
    all_values : bool
        Set to True to return all unique values
    max_n : integer
        Ceiling safeguard to avoid extremely large values of n
    columns : list 
        Columns to include in output
    printed : bool
        If true prints to console; if false returns generator object
        which can be printed as text.
    
    Returns
    --------
    if printed=True: prints all formatted text of all tables
    
    if printed=False: generator object that outputs one table
    
    """
    
    # Parsing arguments
    if columns:
        dataframe = dataframe[columns]
    
    if n:
        n = n if n <= max_n else max_n
    else:
        n = len(dataframe) if len(dataframe) <= max_n else max_n
    
    if all_values:            
        n = len(dataframe) if len(dataframe) <= max_n else max_n
    else:
        n = 30
    
    def make_tables():
        dataframe_n = pd.DataFrame()

        # Data selection
        for column, row in dataframe.iteritems():
            
            n_unique = dataframe[column].nunique()
            
            if (dataframe[column].dtype not in ['float64', 'int', '<M8[ns]']):
                dataframe_n = pd.concat([dataframe_n, dataframe[column]], axis=1)

        summary_list = []

        # Text generation
        for column, row in dataframe_n.iteritems(): 
            series = dataframe_n[column]
            name = series.name
            
            # Create dataframe of value counts
            counted = series.value_counts(sort=True)[:n]
            percent = series.value_counts(sort=True, normalize=True)[:n]
            summary = pd.concat([counted, percent], axis=1)
            summary.columns = ['COUNT', 'PERCENTAGE']
            summary.index = summary.index.rename('UNIQUE VALUES:')
            
            # Create a custom table with n unique, missing values to print to console as text
            summary_text = 'COLUMN:   "{}"\nTOTAL UNIQUE:  {}'.format(name, series.nunique())
            summary_text = summary_text + '\nTOTAL MISSING:  {}'.format(series.isnull().sum())
            summary_text = summary_text + '\n' + summary.to_string() + '\n\n'

            summary_list.append(summary_text)
        
        if not printed:
            summary_gen = iter(summary_list)
            return summary_gen
        else:
            return summary_list
        
    if printed:
        print('\n'.join(make_tables()))
    else:
        return make_tables()

In [1260]:
# Examine variables to determine appropriate data types
explore_value_counts(data, n=30, printed=True)

COLUMN:   "assessor_book"
TOTAL UNIQUE:  735
TOTAL MISSING:  4
                COUNT  PERCENTAGE
UNIQUE VALUES:
5144               30    0.020053
4211               19    0.012701
4129               15    0.010027
4319               14    0.009358
5151               12    0.008021
4117                9    0.006016
2146                9    0.006016
4334                8    0.005348
5532                7    0.004679
2761                7    0.004679
5085                7    0.004679
4303                7    0.004679
5139                6    0.004011
4423                6    0.004011
2350                6    0.004011
5039                6    0.004011
5546                6    0.004011
4360                6    0.004011
5086                5    0.003342
5153                5    0.003342
2664                5    0.003342
4326                5    0.003342
4112                5    0.003342
2260                5    0.003342
4405                5    0.003342
5202                5    0.003342
4224                5    0.003342
4263                5    0.003342
2649                5    0.003342
4286                5    0.003342


COLUMN:   "assessor_page"
TOTAL UNIQUE:  46
TOTAL MISSING:  4
                COUNT  PERCENTAGE
UNIQUE VALUES:
006                72    0.048128
012                64    0.042781
010                63    0.042112
009                63    0.042112
004                60    0.040107
001                56    0.037433
002                53    0.035428
023                51    0.034091
003                51    0.034091
014                50    0.033422
008                49    0.032754
013                49    0.032754
024                48    0.032086
011                46    0.030749
017                46    0.030749
007                45    0.030080
016                44    0.029412
021                44    0.029412
027                44    0.029412
020                44    0.029412
018                42    0.028075
019                40    0.026738
025                39    0.026070
015                39    0.026070
005                38    0.025401
022                36    0.024064
026                28    0.018717
029                28    0.018717
034                27    0.018048
028                26    0.017380


COLUMN:   "assessor_parcel"
TOTAL UNIQUE:  121
TOTAL MISSING:  4
                COUNT  PERCENTAGE
UNIQUE VALUES:
***                86    0.057487
016                51    0.034091
001                51    0.034091
015                50    0.033422
009                48    0.032086
018                48    0.032086
008                45    0.030080
006                43    0.028743
003                42    0.028075
014                42    0.028075
013                39    0.026070
022                37    0.024733
010                37    0.024733
007                37    0.024733
012                35    0.023396
011                33    0.022059
002                33    0.022059
005                32    0.021390
021                32    0.021390
026                31    0.020722
024                31    0.020722
004                30    0.020053
020                29    0.019385
023                29    0.019385
017                29    0.019385
029                27    0.018048
019                24    0.016043
032                23    0.015374
038                20    0.013369
030                20    0.013369


COLUMN:   "tract"
TOTAL UNIQUE:  1202
TOTAL MISSING:  8
                                     COUNT  PERCENTAGE
UNIQUE VALUES:
RANCHO SAUSAL REDONDO                   16    0.010724
TR 9300                                 10    0.006702
TR 1000                                 10    0.006702
TR 6170                                  8    0.005362
TR 2955                                  8    0.005362
LANKERSHIM RANCH LAND AND WATER CO.      8    0.005362
TR 12198                                 7    0.004692
TR 5609                                  6    0.004021
TR 52092                                 5    0.003351
OWENSMOUTH                               5    0.003351
ANGELENO HEIGHTS                         4    0.002681
TR 60110-01_REC-C                        4    0.002681
WESTGATE ACRES                           4    0.002681
TR 28365-C                               4    0.002681
TR 32622-A                               4    0.002681
TR 5822                                  4    0.002681
RECORD OF SURVEY                         4    0.002681
TR 16679                                 3    0.002011
ORD'S SURVEY                             3    0.002011
WESTGATE                                 3    0.002011
TR 5763                                  3    0.002011
TR 4677                                  3    0.002011
TR 5358                                  3    0.002011
TR 1200                                  3    0.002011
TR 4588                                  3    0.002011
RANCHO LA BREA                           3    0.002011
TR 8423                                  3    0.002011
TR 49104-04                              3    0.002011
EX MISSION DE SAN FERNANDO               3    0.002011
TR 4287                                  3    0.002011


COLUMN:   "block"
TOTAL UNIQUE:  93
TOTAL MISSING:  1231
                COUNT  PERCENTAGE
UNIQUE VALUES:
1                  16    0.059480
3                  14    0.052045
2                  11    0.040892
7                  11    0.040892
4                  10    0.037175
8                   8    0.029740
6                   8    0.029740
5                   7    0.026022
A                   6    0.022305
K                   6    0.022305
B                   6    0.022305
F                   5    0.018587
42                  5    0.018587
E                   5    0.018587
24                  4    0.014870
10                  4    0.014870
BLK B               4    0.014870
30                  4    0.014870
H                   4    0.014870
12                  4    0.014870
14                  4    0.014870
BLK A               4    0.014870
11                  4    0.014870
C                   4    0.014870
9                   4    0.014870
16                  4    0.014870
23                  3    0.011152
P                   3    0.011152
28                  3    0.011152
I                   3    0.011152


COLUMN:   "lot"
TOTAL UNIQUE:  287
TOTAL MISSING:  7
                COUNT  PERCENTAGE
UNIQUE VALUES:
1                  90    0.060281
LT 1               90    0.060281
3                  63    0.042197
2                  58    0.038848
4                  42    0.028131
7                  40    0.026792
A                  35    0.023443
5                  32    0.021433
9                  31    0.020764
15                 30    0.020094
12                 30    0.020094
10                 29    0.019424
8                  25    0.016745
13                 25    0.016745
B                  24    0.016075
6                  24    0.016075
20                 23    0.015405
11                 20    0.013396
18                 20    0.013396
19                 18    0.012056
21                 18    0.012056
16                 18    0.012056
14                 17    0.011386
30                 17    0.011386
17                 17    0.011386
LT A               14    0.009377
LT 37              14    0.009377
26                 13    0.008707
23                 13    0.008707
38                 13    0.008707


COLUMN:   "reference_no_old_permit_no"
TOTAL UNIQUE:  527
TOTAL MISSING:  878
                COUNT  PERCENTAGE
UNIQUE VALUES:
18LA               16    0.025723
17LA               15    0.024116
14LA               14    0.022508
16LA                9    0.014469
13LA                9    0.014469
15LA                8    0.012862
17VN                8    0.012862
15VN                6    0.009646
18VN                6    0.009646
14VN                6    0.009646
19LA                4    0.006431
13VN                4    0.006431
19VN                2    0.003215
16VN                2    0.003215
14WL60982           1    0.001608
18VN73891           1    0.001608
16SL58866           1    0.001608
14LA32291           1    0.001608
16LA68587           1    0.001608
14WL59376           1    0.001608
13WL55314           1    0.001608
18VN69291           1    0.001608
17LA87555           1    0.001608
16VN21323           1    0.001608
14VN73600           1    0.001608
16LA66371           1    0.001608
17LA93351           1    0.001608
16SP56106           1    0.001608
18VN76060           1    0.001608
17LA86291           1    0.001608


COLUMN:   "pcis_permit_no"
TOTAL UNIQUE:  1500
TOTAL MISSING:  0
                   COUNT  PERCENTAGE
UNIQUE VALUES:
15042-20000-15077      1    0.000667
14042-20000-04272      1    0.000667
14041-10000-32437      1    0.000667
15044-90000-13701      1    0.000667
15030-30000-02423      1    0.000667
14041-20000-11029      1    0.000667
16042-90000-19657      1    0.000667
14042-20000-04004      1    0.000667
15016-90000-11461      1    0.000667
15016-20001-06856      1    0.000667
18041-20000-40897      1    0.000667
15042-10001-25749      1    0.000667
14041-20000-09779      1    0.000667
19041-90000-23184      1    0.000667
17044-90000-07609      1    0.000667
14010-10003-02205      1    0.000667
19041-90000-06220      1    0.000667
16016-20000-19499      1    0.000667
14041-90000-29981      1    0.000667
17014-20000-01708      1    0.000667
13044-90000-01383      1    0.000667
13016-20000-04325      1    0.000667
16020-10000-00326      1    0.000667
19041-20000-12660      1    0.000667
16010-70000-06066      1    0.000667
18041-90000-04772      1    0.000667
18030-20000-03736      1    0.000667
14016-70000-19435      1    0.000667
18041-20000-26648      1    0.000667
18041-10000-27718      1    0.000667


COLUMN:   "status"
TOTAL UNIQUE:  11
TOTAL MISSING:  0
                    COUNT  PERCENTAGE
UNIQUE VALUES:
Permit Finaled       1060    0.706667
Issued                236    0.157333
Permit Expired         84    0.056000
CofO Issued            62    0.041333
Permit Closed          30    0.020000
Refund Completed       17    0.011333
CofC Issued             4    0.002667
Refund in Progress      4    0.002667
CofO in Progress        1    0.000667
Permit Revoked          1    0.000667
Re-Activate Permit      1    0.000667


COLUMN:   "permit_type"
TOTAL UNIQUE:  15
TOTAL MISSING:  0
                      COUNT  PERCENTAGE
UNIQUE VALUES:
Electrical              457    0.304667
Bldg-Alter/Repair       320    0.213333
Plumbing                309    0.206000
HVAC                    153    0.102000
Fire Sprinkler           49    0.032667
Bldg-Addition            37    0.024667
Nonbldg-New              35    0.023333
Bldg-New                 31    0.020667
Grading                  27    0.018000
Sign                     26    0.017333
Swimming-Pool/Spa        23    0.015333
Elevator                 20    0.013333
Bldg-Demolition           9    0.006000
Nonbldg-Alter/Repair      3    0.002000
Nonbldg-Addition          1    0.000667


COLUMN:   "permit_sub_type"
TOTAL UNIQUE:  5
TOTAL MISSING:  0
                        COUNT  PERCENTAGE
UNIQUE VALUES:
1 or 2 Family Dwelling    816    0.544000
Commercial                398    0.265333
Apartment                 249    0.166000
Onsite                     26    0.017333
Special Equipment          11    0.007333


COLUMN:   "permit_category"
TOTAL UNIQUE:  2
TOTAL MISSING:  0
                COUNT  PERCENTAGE
UNIQUE VALUES:
No Plan Check    1062       0.708
Plan Check        438       0.292


COLUMN:   "project_number"
TOTAL UNIQUE:  2
TOTAL MISSING:  1479
                COUNT  PERCENTAGE
UNIQUE VALUES:
5                  17    0.809524
1                   4    0.190476


COLUMN:   "event_code"
TOTAL UNIQUE:  0
TOTAL MISSING:  1500
Empty DataFrame
Columns: [COUNT, PERCENTAGE]
Index: []


COLUMN:   "initiating_office"
TOTAL UNIQUE:  6
TOTAL MISSING:  0
                COUNT  PERCENTAGE
UNIQUE VALUES:
VAN NUYS          441    0.294000
METRO             439    0.292667
INTERNET          402    0.268000
WEST LA           115    0.076667
SOUTH LA           54    0.036000
SANPEDRO           49    0.032667


COLUMN:   "address_start"
TOTAL UNIQUE:  1311
TOTAL MISSING:  0
                COUNT  PERCENTAGE
UNIQUE VALUES:
200                 8    0.005333
380                 8    0.005333
100                 5    0.003333
1500                5    0.003333
800                 4    0.002667
555                 4    0.002667
1900                4    0.002667
333                 4    0.002667
8500                4    0.002667
1119                4    0.002667
275                 3    0.002000
1967                3    0.002000
235                 3    0.002000
1149                3    0.002000
1840                3    0.002000
888                 3    0.002000
515                 3    0.002000
2100                3    0.002000
601                 3    0.002000
2112                3    0.002000
400                 3    0.002000
229                 3    0.002000
250                 3    0.002000
445                 3    0.002000
777                 3    0.002000
700                 3    0.002000
10250               3    0.002000
6611                2    0.001333
9115                2    0.001333
6700                2    0.001333


COLUMN:   "address_fraction_start"
TOTAL UNIQUE:  3
TOTAL MISSING:  1482
                COUNT  PERCENTAGE
UNIQUE VALUES:
1/2                16    0.888889
-                   1    0.055556
1/4                 1    0.055556


COLUMN:   "address_end"
TOTAL UNIQUE:  1314
TOTAL MISSING:  0
                COUNT  PERCENTAGE
UNIQUE VALUES:
200                 8    0.005333
380                 8    0.005333
1500                5    0.003333
8500                4    0.002667
1900                4    0.002667
333                 4    0.002667
100                 4    0.002667
800                 4    0.002667
555                 4    0.002667
888                 3    0.002000
601                 3    0.002000
1967                3    0.002000
1119                3    0.002000
229                 3    0.002000
275                 3    0.002000
1149                3    0.002000
235                 3    0.002000
700                 3    0.002000
907                 3    0.002000
515                 3    0.002000
1840                3    0.002000
2100                3    0.002000
777                 3    0.002000
10250               3    0.002000
445                 3    0.002000
2112                3    0.002000
250                 3    0.002000
909                 2    0.001333
950                 2    0.001333
606                 2    0.001333


COLUMN:   "address_fraction_end"
TOTAL UNIQUE:  1
TOTAL MISSING:  1466
                COUNT  PERCENTAGE
UNIQUE VALUES:
1/2                34         1.0


COLUMN:   "street_direction"
TOTAL UNIQUE:  4
TOTAL MISSING:  25
                COUNT  PERCENTAGE
UNIQUE VALUES:
W                 588    0.398644
N                 494    0.334915
S                 305    0.206780
E                  88    0.059661


COLUMN:   "street_name"
TOTAL UNIQUE:  959
TOTAL MISSING:  0
                     COUNT  PERCENTAGE
UNIQUE VALUES:
FIGUEROA                28    0.018667
WORLD                   23    0.015333
WILSHIRE                19    0.012667
VENTURA                 14    0.009333
TOPANGA CANYON          12    0.008000
SANTA MONICA            11    0.007333
BEVERLY                 10    0.006667
3RD                     10    0.006667
SEPULVEDA               10    0.006667
SUNSET                   8    0.005333
CENTURY                  8    0.005333
AVENUE OF THE STARS      7    0.004667
OLYMPIC                  7    0.004667
5TH                      7    0.004667
PICO                     6    0.004000
HOPE                     6    0.004000
VANOWEN                  6    0.004000
7TH                      6    0.004000
4TH                      6    0.004000
WESTERN                  6    0.004000
8TH                      6    0.004000
VAN NUYS                 5    0.003333
RESEDA                   5    0.003333
VENICE                   5    0.003333
BLUFF CREEK              5    0.003333
GRAND                    5    0.003333
1ST                      5    0.003333
BURBANK                  5    0.003333
OXNARD                   5    0.003333
BARRINGTON               5    0.003333


COLUMN:   "street_suffix"
TOTAL UNIQUE:  14
TOTAL MISSING:  35
                COUNT  PERCENTAGE
UNIQUE VALUES:
AVE               473    0.322867
ST                447    0.305119
BLVD              221    0.150853
DR                127    0.086689
ROAD               51    0.034812
PL                 47    0.032082
WAY                45    0.030717
LANE               26    0.017747
TER                 7    0.004778
CT                  7    0.004778
HWY                 6    0.004096
PARK                5    0.003413
WALK                2    0.001365
CIR                 1    0.000683


COLUMN:   "suffix_direction"
TOTAL UNIQUE:  7
TOTAL MISSING:  1486
                COUNT  PERCENTAGE
UNIQUE VALUES:
EAST                6    0.428571
NORTH               2    0.142857
WEST                2    0.142857
WES                 1    0.071429
SOU                 1    0.071429
SOUTH               1    0.071429
W                   1    0.071429


COLUMN:   "unit_range_start"
TOTAL UNIQUE:  238
TOTAL MISSING:  1208
                COUNT  PERCENTAGE
UNIQUE VALUES:
TEMP                6    0.020548
#1                  6    0.020548
A                   4    0.013699
PV1                 4    0.013699
3                   3    0.010274
1                   3    0.010274
#A                  3    0.010274
4TH FLR             3    0.010274
#8                  3    0.010274
2                   3    0.010274
1-3                 3    0.010274
1-8                 3    0.010274
B                   3    0.010274
#5                  3    0.010274
#2                  3    0.010274
1-9                 2    0.006849
#200                2    0.006849
1-4                 2    0.006849
12TH FLR            2    0.006849
#701                2    0.006849
BLDG C              2    0.006849
209                 2    0.006849
8TH FLR             2    0.006849
#3                  2    0.006849
1-33                2    0.006849
#9                  2    0.006849
#7                  2    0.006849
4                   2    0.006849
110                 2    0.006849
1ST 2ND             2    0.006849


COLUMN:   "unit_range_end"
TOTAL UNIQUE:  40
TOTAL MISSING:  1457
                COUNT  PERCENTAGE
UNIQUE VALUES:
1-3                 2    0.046512
1-9                 2    0.046512
1-8                 2    0.046512
1-19                1    0.023256
,2601               1    0.023256
STAIRS              1    0.023256
1-4                 1    0.023256
LL-079              1    0.023256
STE.#1890           1    0.023256
SOUTH               1    0.023256
PACKAGE             1    0.023256
1-28                1    0.023256
1-33                1    0.023256
UNIT 7              1    0.023256
1660                1    0.023256
#269-276            1    0.023256
602                 1    0.023256
B                   1    0.023256
204                 1    0.023256
1-20                1    0.023256
#220                1    0.023256
F2                  1    0.023256
205                 1    0.023256
18                  1    0.023256
T1-4                1    0.023256
1-17                1    0.023256
SPACE 137           1    0.023256
2 Floor             1    0.023256
#232-234            1    0.023256
RESTROOM            1    0.023256


COLUMN:   "work_description"
TOTAL UNIQUE:  568
TOTAL MISSING:  878
                                          COUNT  PERCENTAGE
UNIQUE VALUES:
Re-roof with Class A or B material we...     18    0.028939
Re-roof with Class A or B material we...     12    0.019293
Add sill plate anchors bolts and crip...     11    0.017685
Kitchen/bathroom remodel for resident...      5    0.008039

### Summary of Missing Values & Data Types
The following columns will have there data types updated:

#### Category columns
* status
* permit_type
* permit_sub_type
* permit_category
* initiating_office
* license_type
* zone
* census_tract
* council_district
* applicant_relationship

#### Integer columns:
* project_number
* address_start
* address_end
* no_of_residential_dwelling_units
* no_of_accessory_dwelling_units
* no_of_stories
* license_no

#### Float columns:
* valuation