# permits-data / Load Data

ETL pipeline for construction permits data in Los Angeles, California, USA.

For more information:
https://data.lacity.org/A-Prosperous-City/Building-and-Safety-Permit-Information/yv23-pmwf

In [23]:
import os
import sys
from dotenv import load_dotenv, find_dotenv
load_dotenv(find_dotenv());
import numpy as np
import pandas as pd
import psycopg2

In [24]:
# Set notebook display options
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)

In [25]:
# Get project root directory
root_dir = os.path.dirname(os.getcwd())

# Set path for modules
sys.path[0] = '../'

# Set environment variables
POSTGRES_USER = os.getenv("POSTGRES_USER")
POSTGRES_PASSWORD = os.getenv("POSTGRES_PASSWORD")
POSTGRES_DB = os.getenv("POSTGRES_DB")
DB_PORT = os.getenv("DB_PORT")
DB_HOST = os.getenv("DB_HOST")
DATA_URL = os.getenv("DATA_URL")

# Environment variables specific to notebook
DATA_DIR = os.path.dirname(root_dir) + '/data'
DB_TABLE = "permits_raw"

## 1. Import Data

In [61]:
# Connect to PostgreSQL, useful only for notebook
def connect_db():
    try:
        con = psycopg2.connect(dbname=POSTGRES_DB,
                               user=POSTGRES_USER,
                               password=POSTGRES_PASSWORD,
                                host=DB_HOST, 
                                port=DB_PORT)
    except Exception as e:
        print('Error:\n', e)
    
    return con

In [62]:
conn = connect_db()

### 1.1 Update Table Columns in PostgreSQL Database

In [63]:
# Get raw data column names
def get_table_names(table, con):
    sql = "SELECT * FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = N'{}'".format(table)
    etl = pd.read_sql_query(sql, con)
    columns = etl['column_name']
    
    return columns

In [64]:
# Check table names
get_table_names("permits_raw", conn).head(10)

0                 assessor_book
1                 assessor_page
2               assessor_parcel
3                         tract
4                         block
5                           lot
6    reference_no_old_permit_no
7                pcis_permit_no
8                        status
9                   status_date
Name: column_name, dtype: object

In [30]:
# Retrieve table column names
old_columns = get_table_names("permits_raw", conn)

In [31]:
# Rename columns, will update table later
def format_names(series):
    
    replace_map = {' ': '_', '-': '_', '#': 'No', '/': '_', 
                   '.': '', '(': '', ')': '', "'": ''}

    def replace_chars(text):
        for oldchar, newchar in replace_map.items():
            text = text.replace(oldchar, newchar).lower()
        return text

    return series.apply(replace_chars)

In [32]:
# Transform table column names for permits_raw
new_columns = format_names(old_columns)

In [33]:
new_columns.head()

0      assessor_book
1      assessor_page
2    assessor_parcel
3              tract
4              block
Name: column_name, dtype: object

In [35]:
# Creates a SQL query to update table columns and writes to text file
### pass conn context
def create_query(old_columns, new_columns, db_table, con, run=False):
    
    sql = 'ALTER TABLE {} '.format(db_table) + 'RENAME "{old_name}" to {new_name};'
    
    
    sql_query = []

    for idx, name in old_columns.iteritems():
        sql_query.append(sql.format(old_name=name, new_name=new_columns[idx]))
        
    update_names = '\n'.join(sql_query)
    
    # update later: sql_file = os.path.join(os.path.dirname(__file__), "../postgres/scripts/update_names.sql")
    with open('../postgres/sql/update_names.sql', 'w') as text:
        text.write(update_names)
        
    # Update db is desired
    if run:
        cur = con.cursor()
        sql_file = open('../postgres/sql/update_names.sql', 'r')
        cur.execute(sql_file.read())
        con.commit()
        #conn.close()

In [36]:
# Create SQL query for permits_raw
try:
    create_query(old_columns, new_columns, run=True, con=conn, db_table=DB_TABLE)
except Exception as e: 
    conn.rollback()
    print('Error:\n', e)

In [38]:
# Check table names are updated
get_table_names("permits_raw", conn).head()

0      assessor_book
1      assessor_page
2    assessor_parcel
3              tract
4              block
Name: column_name, dtype: object

In [53]:
# TEST: 
assert (get_table_names("permits_raw", 
                        conn) == new_columns).mean() == 1, "Database table names do not match new table names"

In [55]:
# Extract full dataset
sql_all = 'SELECT * FROM {};'.format(DB_TABLE)

# Extract full dataset
data = pd.read_sql_query(sql_all, conn)
data.head()

,assessor_book,assessor_page,assessor_parcel,tract,block,lot,reference_no_old_permit_no,pcis_permit_no,status,status_date,permit_type,permit_sub_type,permit_category,project_number,event_code,initiating_office,issue_date,address_start,address_fraction_start,address_end,address_fraction_end,street_direction,street_name,street_suffix,suffix_direction,unit_range_start,unit_range_end,zip_code,work_description,valuation,floor_area_la_zoning_code_definition,no_of_residential_dwelling_units,no_of_accessory_dwelling_units,no_of_stories,contractors_business_name,contractor_address,contractor_city,contractor_state,license_type,license_no,principal_first_name,principal_middle_name,principal_last_name,license_expiration_date,applicant_first_name,applicant_last_name,applicant_business_name,applicant_address_1,applicant_address_2,applicant_address_3,zone,occupancy,floor_area_la_building_code_definition,census_tract,council_district,latitude_longitude,applicant_relationship,existing_code,proposed_code
0,4317,003,***,TR 30210-C,None,LT 1,None,15044-90000-08405,Permit Finaled,09/10/2015,HVAC,1 or 2 Family Dwelling,No Plan Check,None,None,INTERNET,2015-08-18,1823,1/2,1823,1/2,S,THAYER,AVE,None,None,None,90025.0,None,NaN,None,None,None,None,CONDITIONED AIRE MECHANICAL & ENGINEERING INC,18650 PARTHENIA STREET,NORTHRIDGE,CA,C20,532440,BRETT,MOORE,HOFFER,2016-06-30,BRETT,HOFFER,None,18650 PARTHENIA ST,None,"NORTHRIDGE, CA",R3-1-O,None,0,2671.00,5,"(34.05474, -118.42628)",Net Applicant,NaN,NaN
1,5005,010,017,CHESTERFIELD SQUARE,None,465,16SL57806,16016-70000-02464,Permit Finaled,08/01/2017,Bldg-Alter/Repair,1 or 2 Family Dwelling,No Plan Check,None,None,SOUTH LA,2016-02-04,2122,None,2122,None,W,54TH,ST,None,None,None,90062.0,General rehabilitation for single family dwell...,40000.0,None,None,None,None,OWNER-BUILDER,None,None,None,NA,0,JAVIER,None,TALAMANTES,None,JAVIER,TALAMANTES,OWNER-BUILDER,None,None,None,C2-1VL,None,None,2325.00,8,"(33.99307, -118.31668)",Owner-Bldr,1.0,NaN
2,5154,023,022,SUN-SET TRACT,D,13,14VN81535,14016-20000-13092,Issued,08/13/2014,Bldg-Alter/Repair,Apartment,Plan Check,None,None,VAN NUYS,2014-08-13,415,None,415,None,S,BURLINGTON,AVE,None,1-30,1-30,90057.0,PHOTOVOLTAIC SOLAR PANELS ON ROOF OF (E) APT BLDG,37000.0,None,None,None,None,PERMACITY CONSTRUCTION CORP,5570 W WASHINGTON BLVD,LOS ANGELES,CA,B,827864,JONATHAN,SAUL,PORT,2015-11-30,LINDA,MARTON,None,710 WILSHIRE BLVD,None,"SANTA MONICA, CA",R4-1,None,None,2089.04,1,"(34.06012, -118.26997)",Agent for Owner,5.0,NaN
3,4404,030,010,TR 12086,None,2,None,16044-30000-09658,Permit Finaled,08/29/2016,HVAC,1 or 2 Family Dwelling,No Plan Check,None,None,WEST LA,2016-08-22,315,None,315,None,S,OCEANO,DR,None,None,None,90049.0,None,NaN,None,None,None,None,E/C HEATING AND AIR CONDITION,26888 CUATRO MILPAS ST,VALENCIA,CA,C20,651051,EDY,RUDOLFO,CORDON,2018-07-31,None,None,None,None,None,None,RS-1,None,0,2640.00,11,"(34.05707, -118.4732)",Contractor,NaN,NaN
4,2646,019,011,TR 7158,None,11,None,17042-90000-31792,Permit Finaled,12/28/2017,Plumbing,1 or 2 Family Dwelling,No Plan Check,None,None,INTERNET,2017-12-26,13640,None,13640,None,W,PIERCE,ST,None,None,None,91331.0,None,NaN,None,None,None,None,TITANIUM POWER INC,1545 S LA CIENEGA BLVD,LOS ANGELES,CA,B,989217,DENNIS,HARUO,MIYAHIRA,2017-12-31,YONI,GHERMEZI,None,1545 S LA CIENEGA BLVD,None,"LOS ANGELES, CA",R1-1-O,None,0,1044.03,7,"(34.25487, -118.43002)",Net Applicant,NaN,NaN

In [56]:
data.shape
conn.close()

## 2. Clean Data

In [73]:
# Connect to db
conn = connect_db()

# Extract full dataset
sql_all = 'SELECT * FROM {};'.format(DB_TABLE)

# Fetch fresh data
#data = pd.read_sql_query(sql_all, conn)

In [75]:
data.head()

,assessor_book,assessor_page,assessor_parcel,tract,block,lot,reference_no_old_permit_no,pcis_permit_no,status,status_date,permit_type,permit_sub_type,permit_category,project_number,event_code,initiating_office,issue_date,address_start,address_fraction_start,address_end,address_fraction_end,street_direction,street_name,street_suffix,suffix_direction,unit_range_start,unit_range_end,zip_code,work_description,valuation,floor_area_la_zoning_code_definition,no_of_residential_dwelling_units,no_of_accessory_dwelling_units,no_of_stories,contractors_business_name,contractor_address,contractor_city,contractor_state,license_type,license_no,principal_first_name,principal_middle_name,principal_last_name,license_expiration_date,applicant_first_name,applicant_last_name,applicant_business_name,applicant_address_1,applicant_address_2,applicant_address_3,zone,occupancy,floor_area_la_building_code_definition,census_tract,council_district,latitude_longitude,applicant_relationship,existing_code,proposed_code
0,4317,003,***,TR 30210-C,None,LT 1,None,15044-90000-08405,Permit Finaled,09/10/2015,HVAC,1 or 2 Family Dwelling,No Plan Check,None,None,INTERNET,2015-08-18,1823,1/2,1823,1/2,S,THAYER,AVE,None,None,None,90025.0,None,NaN,None,None,None,None,CONDITIONED AIRE MECHANICAL & ENGINEERING INC,18650 PARTHENIA STREET,NORTHRIDGE,CA,C20,532440,BRETT,MOORE,HOFFER,2016-06-30,BRETT,HOFFER,None,18650 PARTHENIA ST,None,"NORTHRIDGE, CA",R3-1-O,None,0,2671.00,5,"(34.05474, -118.42628)",Net Applicant,NaN,NaN
1,5005,010,017,CHESTERFIELD SQUARE,None,465,16SL57806,16016-70000-02464,Permit Finaled,08/01/2017,Bldg-Alter/Repair,1 or 2 Family Dwelling,No Plan Check,None,None,SOUTH LA,2016-02-04,2122,None,2122,None,W,54TH,ST,None,None,None,90062.0,General rehabilitation for single family dwell...,40000.0,None,None,None,None,OWNER-BUILDER,None,None,None,NA,0,JAVIER,None,TALAMANTES,None,JAVIER,TALAMANTES,OWNER-BUILDER,None,None,None,C2-1VL,None,None,2325.00,8,"(33.99307, -118.31668)",Owner-Bldr,1.0,NaN
2,5154,023,022,SUN-SET TRACT,D,13,14VN81535,14016-20000-13092,Issued,08/13/2014,Bldg-Alter/Repair,Apartment,Plan Check,None,None,VAN NUYS,2014-08-13,415,None,415,None,S,BURLINGTON,AVE,None,1-30,1-30,90057.0,PHOTOVOLTAIC SOLAR PANELS ON ROOF OF (E) APT BLDG,37000.0,None,None,None,None,PERMACITY CONSTRUCTION CORP,5570 W WASHINGTON BLVD,LOS ANGELES,CA,B,827864,JONATHAN,SAUL,PORT,2015-11-30,LINDA,MARTON,None,710 WILSHIRE BLVD,None,"SANTA MONICA, CA",R4-1,None,None,2089.04,1,"(34.06012, -118.26997)",Agent for Owner,5.0,NaN
3,4404,030,010,TR 12086,None,2,None,16044-30000-09658,Permit Finaled,08/29/2016,HVAC,1 or 2 Family Dwelling,No Plan Check,None,None,WEST LA,2016-08-22,315,None,315,None,S,OCEANO,DR,None,None,None,90049.0,None,NaN,None,None,None,None,E/C HEATING AND AIR CONDITION,26888 CUATRO MILPAS ST,VALENCIA,CA,C20,651051,EDY,RUDOLFO,CORDON,2018-07-31,None,None,None,None,None,None,RS-1,None,0,2640.00,11,"(34.05707, -118.4732)",Contractor,NaN,NaN
4,2646,019,011,TR 7158,None,11,None,17042-90000-31792,Permit Finaled,12/28/2017,Plumbing,1 or 2 Family Dwelling,No Plan Check,None,None,INTERNET,2017-12-26,13640,None,13640,None,W,PIERCE,ST,None,None,None,91331.0,None,NaN,None,None,None,None,TITANIUM POWER INC,1545 S LA CIENEGA BLVD,LOS ANGELES,CA,B,989217,DENNIS,HARUO,MIYAHIRA,2017-12-31,YONI,GHERMEZI,None,1545 S LA CIENEGA BLVD,None,"LOS ANGELES, CA",R1-1-O,None,0,1044.03,7,"(34.25487, -118.43002)",Net Applicant,NaN,NaN

In [277]:
# Create a smaller version of dataset
df = data[:1500]

### 2.1 Missing Data & Data Types

#### Overview of Unique Values in Qualitative Data

Before making decisions regarding missing values or data types, it is important to be familiar with the content of each column especially considering the permits dataset mostly contains qualitative data.

In [349]:
def get_overview(dataframe):
    unique = dataframe.nunique(axis=0)
    is_null = dataframe.isnull().sum()
    overview = pd.concat([unique, is_null], axis=1)
    overview.columns = columns=['# UNIQUE VALUES', '# NULL VALUES']
    
    return overview

In [350]:
print(get_overview(df))

                                        # UNIQUE VALUES  # NULL VALUES
assessor_book                                       741              2
assessor_page                                        49              2
assessor_parcel                                     111              2
tract                                              1198              6
block                                                96           1178
lot                                                 298             15
reference_no_old_permit_no                          518            879
pcis_permit_no                                     1500              0
status                                               11              0
status_date                                         962              0
permit_type                                          15              0
permit_sub_type                                       6              0
permit_category                                       2              0
project_number                                        3           1485
event_code                                            0           1500
initiating_office                                     6              0
issue_date                                          974              0
address_start                                      1328              0
address_fraction_start                                3           1476
address_end                                        1326              0
address_fraction_end                                  4           1457
street_direction                                      4             18
street_name                                         955              0
street_suffix                                        15             38
suffix_direction                                      5           1491
unit_range_start                                    248           1205
unit_range_end                                       28           1470
zip_code                                            114              1
work_description                                    568            879
valuation                                           176            986
floor_area_la_zoning_code_definition                 69           1397
no_of_residential_dwelling_units                     14           1449
no_of_accessory_dwelling_units                        0           1500
no_of_stories                                         7           1402
contractors_business_name                          1041              0
contractor_address                                 1054            170
contractor_city                                     231            181
contractor_state                                     17            181
license_type                                         24              0
license_no                                         1014              0
principal_first_name                                509            159
principal_middle_name                               395            558
principal_last_name                                 900            168
license_expiration_date                             107            107
applicant_first_name                                605            325
applicant_last_name                                 735            476
applicant_business_name                             115           1339
applicant_address_1                                 673            671
applicant_address_2                                 156           1248
applicant_address_3                                 248            677
zone                                                303              3
occupancy                                             2           1480
floor_area_la_building_code_definition               91            292
census_tract                                        693              2
council_district                                     15              1
latitude_longitude                                 1398             58
applicant_relationship                               12             40
existing_code                                        20           1100
proposed_code                                        16           1343

In [ ]:
# Creates a report to show value counts for columns with less than n unique values
def explore_value_counts(dataframe, n, printed=True):
    
    def make_tables():
        dataframe_n = pd.DataFrame()

        # Select columns with total unique <= n
        for column, row in dataframe.iteritems():
            n_unique = dataframe[column].nunique()
            if (n_unique <= n and n_unique > 0):
                dataframe_n = pd.concat([dataframe_n, dataframe[column]], axis=1)

        summary_list = []

        for column, row in dataframe_n.iteritems(): 
            series = dataframe_n[column]
            name = series.name

            counted = series.value_counts(sort=True)
            percent = series.value_counts(sort=True, normalize=True)
            summary = pd.concat([counted, percent], axis=1)
            summary.columns = ['COUNT', 'PERCENTAGE']
            #summary.index = summary.index.rename('"{}":'.format(name))
            summary.index = summary.index.rename('CATEGORIES:')

            summary_table = 'COLUMN:   "{}"\nTOTAL UNIQUE:  {}'.format(name, series.nunique()) + '\n' + summary.to_string() + '\n\n'

            #summary_list.append(summary_table)

            #print('\n', summary, '\n', '\n"{}" total unique values: {}'.format(name, series.nunique()))
            
            if printed:
                summary_list.append(summary_table)
            else:
                yield summary_table
        
        return summary_list
    
    if printed:
        print('\n'.join(make_tables()))
    else:
        yield make_tables()

In [429]:
# Creates a report to show value counts for columns with less than n unique values
def explore_value_counts(dataframe, n, printed=True):
    
    def make_tables():
        dataframe_n = pd.DataFrame()

        # Select columns with total unique <= n
        for column, row in dataframe.iteritems():
            n_unique = dataframe[column].nunique()
            if (n_unique <= n and n_unique > 0):
                dataframe_n = pd.concat([dataframe_n, dataframe[column]], axis=1)

        summary_list = []

        for column, row in dataframe_n.iteritems(): 
            series = dataframe_n[column]
            name = series.name

            counted = series.value_counts(sort=True)
            percent = series.value_counts(sort=True, normalize=True)
            summary = pd.concat([counted, percent], axis=1)
            summary.columns = ['COUNT', 'PERCENTAGE']
            #summary.index = summary.index.rename('"{}":'.format(name))
            summary.index = summary.index.rename('CATEGORIES:')

            summary_table = 'COLUMN:   "{}"\nTOTAL UNIQUE:  {}'.format(name, series.nunique()) + '\n' + summary.to_string() + '\n\n'

            #summary_list.append(summary_table)

            #print('\n', summary, '\n', '\n"{}" total unique values: {}'.format(name, series.nunique()))

            summary_list.append(summary_table)
        
        return summary_list
    
    if printed:
        print('\n'.join(make_tables()))
    else:
        return make_tables()

In [431]:
explore_value_counts(df, 30, printed=True)

COLUMN:   "status"
TOTAL UNIQUE:  11
                    COUNT  PERCENTAGE
CATEGORIES:
Permit Finaled       1106    0.737333
Issued                210    0.140000
Permit Expired         77    0.051333
CofO Issued            57    0.038000
Permit Closed          25    0.016667
Refund Completed       14    0.009333
Re-Activate Permit      4    0.002667
CofO in Progress        3    0.002000
CofC Issued             2    0.001333
CofO Corrected          1    0.000667
Refund in Progress      1    0.000667


COLUMN:   "permit_type"
TOTAL UNIQUE:  15
                      COUNT  PERCENTAGE
CATEGORIES:
Electrical              468    0.312000
Bldg-Alter/Repair       322    0.214667
Plumbing                291    0.194000
HVAC                    143    0.095333
Fire Sprinkler           76    0.050667
Bldg-Addition            37    0.024667
Bldg-New                 29    0.019333
Grading                  26    0.017333
Bldg-Demolition          25    0.016667
Swimming-Pool/Spa        18    0.012000
Sign                     18    0.012000
Elevator                 17    0.011333
Nonbldg-New              17    0.011333
Nonbldg-Alter/Repair     10    0.006667
Pressure Vessel           3    0.002000


COLUMN:   "permit_sub_type"
TOTAL UNIQUE:  6
                        COUNT  PERCENTAGE
CATEGORIES:
1 or 2 Family Dwelling    837    0.558000
Commercial                403    0.268667
Apartment                 229    0.152667
Onsite                     17    0.011333
Special Equipment          13    0.008667
Offsite                     1    0.000667


COLUMN:   "permit_category"
TOTAL UNIQUE:  2
               COUNT  PERCENTAGE
CATEGORIES:
No Plan Check   1020        0.68
Plan Check       480        0.32


COLUMN:   "project_number"
TOTAL UNIQUE:  3
             COUNT  PERCENTAGE
CATEGORIES:
5               10    0.666667
1                4    0.266667
4                1    0.066667


COLUMN:   "initiating_office"
TOTAL UNIQUE:  6
             COUNT  PERCENTAGE
CATEGORIES:
METRO          429    0.286000
VAN NUYS       414    0.276000
INTERNET       412    0.274667
WEST LA        123    0.082000
SOUTH LA        69    0.046000
SANPEDRO        53    0.035333


COLUMN:   "address_fraction_start"
TOTAL UNIQUE:  3
             COUNT  PERCENTAGE
CATEGORIES:
1/2             21    0.875000
1/4              2    0.083333
1/5              1    0.041667


COLUMN:   "address_fraction_end"
TOTAL UNIQUE:  4
             COUNT  PERCENTAGE
CATEGORIES:
1/2             38    0.883721
1/4              3    0.069767
1/5              1    0.023256
3/4              1    0.023256


COLUMN:   "street_direction"
TOTAL UNIQUE:  4
             COUNT  PERCENTAGE
CATEGORIES:
W              606    0.408907
N              477    0.321862
S              325    0.219298
E               74    0.049933


COLUMN:   "street_suffix"
TOTAL UNIQUE:  15
             COUNT  PERCENTAGE
CATEGORIES:
AVE            503    0.344049
ST             442    0.302326
BLVD           221    0.151163
DR             121    0.082763
PL              52    0.035568
WAY             47    0.032148
ROAD            38    0.025992
LANE            14    0.009576
CT               7    0.004788
CIR              6    0.004104
TER              3    0.002052
PARK             3    0.002052
HWY              3    0.002052
RD               1    0.000684
PKWY             1    0.000684


COLUMN:   "suffix_direction"
TOTAL UNIQUE:  5
             COUNT  PERCENTAGE
CATEGORIES:
EAST             4    0.444444
WEST             2    0.222222
WES              1    0.111111
NORTH            1    0.111111
EAS              1    0.111111


COLUMN:   "unit_range_end"
TOTAL UNIQUE:  28
             COUNT  PERCENTAGE
CATEGORIES:
1-8              3    0.100000
corridor         1    0.033333
B                1    0.033333
Corridor         1    0.033333
STE 510          1    0.033333
Lot 1            1    0.033333
#52-F            1    0.033333
45TH FL          1    0.033333
1-30             1    0.033333
#113             1    0.033333
1-9              1    0.033333
#1623            1    0.033333
1-4              1    0.033333
1-49             1    0.033333
BUILDING C       1    0.033333
214              1    0.033333
BLDG 8           1    0.033333
STE 1960         1    0.033333
1-5              1    0.033333
8                1    0.033333
315,415          1    0.033333
2nd floor        1    0.033333
FLOOR            1    0.033333
Floor            1    0.033333
#5               1    0.033333
,20, 27&32       1    0.033333
63               1    0.033333
1650             1    0.033333


COLUMN:   "no_of_residential_dwelling_units"
TOTAL UNIQUE:  14
             COUNT  PERCENTAGE
CATEGORIES:
0               17    0.333333
-1              10    0.196078
1                8    0.156863
2                4    0.078431
9                2    0.039216
-2               2    0.039216
6                1    0.019608
63               1    0.019608
-8               1    0.019608
-10              1    0.019608
8                1    0.019608
20               1    0.019608
-9               1    0.019608
3                1    0.019608


COLUMN:   "no_of_stories"
TOTAL UNIQUE:  7
             COUNT  PERCENTAGE
CATEGORIES:
0               34    0.346939
1               33    0.336735
2               18    0.183673
3                8    0.081633
4                3    0.030612
-2               1    0.010204
5                1    0.010204


COLUMN:   "contractor_state"
TOTAL UNIQUE:  17
             COUNT  PERCENTAGE
CATEGORIES:
CA            1278    0.968916
WA               8    0.006065
GA               7    0.005307
FL               6    0.004549
TN               3    0.002274
NV               3    0.002274
NJ               2    0.001516
AZ               2    0.001516
CO               2    0.001516
NH               1    0.000758
MO               1    0.000758
NC               1    0.000758
TX               1    0.000758
WI               1    0.000758
PA               1    0.000758
UT               1    0.000758
NY               1    0.000758


COLUMN:   "license_type"
TOTAL UNIQUE:  24
             COUNT  PERCENTAGE
CATEGORIES:
B              477    0.318000
C10            298    0.198667
C36            196    0.130667
NA             179    0.119333
C20            110    0.073333
C16             74    0.049333
C39             50    0.033333
C46             23    0.015333
C53             21    0.014000
C11             17    0.011333
C45             14    0.009333
C-7             11    0.007333
A               11    0.007333
C21              6    0.004000
D42              2    0.001333
C-4              2    0.001333
C38              2    0.001333
D34              1    0.000667
C29              1    0.000667
D03              1    0.000667
C51              1    0.000667
C27              1    0.000667
D24              1    0.000667
C-6              1    0.000667


COLUMN:   "occupancy"
TOTAL UNIQUE:  2
                  COUNT  PERCENTAGE
CATEGORIES:
Misc. Occ. Group     16         0.8
R3 Occ. Group         4         0.2


COLUMN:   "council_district"
TOTAL UNIQUE:  15
             COUNT  PERCENTAGE
CATEGORIES:
5              192    0.128085
11             168    0.112075
4              146    0.097398
14             128    0.085390
12             109    0.072715
3              107    0.071381
2               91    0.060707
13              87    0.058039
10              82    0.054703
7               73    0.048699
15              73    0.048699
6               62    0.041361
9               61    0.040694
8               61    0.040694
1               59    0.039360


COLUMN:   "applicant_relationship"
TOTAL UNIQUE:  12
                      COUNT  PERCENTAGE
CATEGORIES:
Contractor              411    0.281507
Net Applicant           402    0.275342
Agent for Contractor    264    0.180822
Agent for Owner         190    0.130137
Owner-Bldr               80    0.054795
Architect                43    0.029452
Engineer                 28    0.019178
Other                    21    0.014384
Owner                    16    0.010959
Tenant                    3    0.002055
Contractor Submittal      1    0.000685
Developer                 1    0.000685


COLUMN:   "existing_code"
TOTAL UNIQUE:  20
             COUNT  PERCENTAGE
CATEGORIES:
1.0            230      0.5750
5.0             39      0.0975
7.0             23      0.0575
13.0            22      0.0550
2.0             17      0.0425
16.0            16      0.0400
35.0             9      0.0225
23.0             8      0.0200
15.0             7      0.0175
17.0             7      0.0175
20.0             5      0.0125
4.0              3      0.0075
22.0             3      0.0075
11.0             2      0.0050
18.0             2      0.0050
19.0             2      0.0050
6.0              2      0.0050
8.0              1      0.0025
10.0             1      0.0025
21.0             1      0.0025


COLUMN:   "proposed_code"
TOTAL UNIQUE:  16
             COUNT  PERCENTAGE
CATEGORIES:
23.0            49    0.312102
19.0            18    0.114650
20.0            15    0.095541
70.0            15    0.095541
1.0             14    0.089172
60.0            11    0.070064
7.0              7    0.044586
5.0              6    0.038217
2.0              6    0.038217
16.0             5    0.031847
35.0             3    0.019108
13.0             2    0.012739
61.0             2    0.012739
17.0             2    0.012739
6.0              1    0.006369
4.0              1    0.006369

In [331]:
##  ORIGINAL
# Creates a report to show value counts for columns with less than n unique values
def explore_value_counts(dataframe, n):
    
    for column, row in dataframe.iteritems():
        
        series = dataframe[column]
        name = series.name
        
        if series.nunique() < n:
            counted = series.value_counts(sort=True)
            percent = series.value_counts(sort=True, normalize=True)
            summary = pd.concat([counted, percent], axis=1)
            summary.columns = ['COUNT', 'PERCENTAGE']
            #summary.index = summary.index.rename('"{}":'.format(name))
            summary.index = summary.index.rename('CATEGORIES:')
            
            #print('\n', summary, '\n', '\n"{}" total unique values: {}'.format(name, series.nunique()))
            print('COLUMN: "{}"\nTOTAL UNIQUE:  {}'.format(name, series.nunique()), '\n', summary, '\n\n')

In [332]:
explore_value_counts(df, 10)

COLUMN: "permit_sub_type"
TOTAL UNIQUE:  6
                         COUNT  PERCENTAGE
CATEGORIES:
1 or 2 Family Dwelling    837    0.558000
Commercial                403    0.268667
Apartment                 229    0.152667
Onsite                     17    0.011333
Special Equipment          13    0.008667
Offsite                     1    0.000667


COLUMN: "permit_category"
TOTAL UNIQUE:  2
                COUNT  PERCENTAGE
CATEGORIES:
No Plan Check   1020        0.68
Plan Check       480        0.32


COLUMN: "project_number"
TOTAL UNIQUE:  3
              COUNT  PERCENTAGE
CATEGORIES:
5               10    0.666667
1                4    0.266667
4                1    0.066667


COLUMN: "event_code"
TOTAL UNIQUE:  0
 Empty DataFrame
Columns: [COUNT, PERCENTAGE]
Index: []


COLUMN: "initiating_office"
TOTAL UNIQUE:  6
              COUNT  PERCENTAGE
CATEGORIES:
METRO          429    0.286000
VAN NUYS       414    0.276000
INTERNET       412    0.274667
WEST LA        123    0.082000
SOUTH LA        69    0.046000
SANPEDRO        53    0.035333


COLUMN: "address_fraction_start"
TOTAL UNIQUE:  3
              COUNT  PERCENTAGE
CATEGORIES:
1/2             21    0.875000
1/4              2    0.083333
1/5              1    0.041667


COLUMN: "address_fraction_end"
TOTAL UNIQUE:  4
              COUNT  PERCENTAGE
CATEGORIES:
1/2             38    0.883721
1/4              3    0.069767
1/5              1    0.023256
3/4              1    0.023256


COLUMN: "street_direction"
TOTAL UNIQUE:  4
              COUNT  PERCENTAGE
CATEGORIES:
W              606    0.408907
N              477    0.321862
S              325    0.219298
E               74    0.049933


COLUMN: "suffix_direction"
TOTAL UNIQUE:  5
              COUNT  PERCENTAGE
CATEGORIES:
EAST             4    0.444444
WEST             2    0.222222
WES              1    0.111111
NORTH            1    0.111111
EAS              1    0.111111


COLUMN: "no_of_accessory_dwelling_units"
TOTAL UNIQUE:  0
 Empty DataFrame
Columns: [COUNT, PERCENTAGE]
Index: []


COLUMN: "no_of_stories"
TOTAL UNIQUE:  7
              COUNT  PERCENTAGE
CATEGORIES:
0               34    0.346939
1               33    0.336735
2               18    0.183673
3                8    0.081633
4                3    0.030612
-2               1    0.010204
5                1    0.010204


COLUMN: "occupancy"
TOTAL UNIQUE:  2
                   COUNT  PERCENTAGE
CATEGORIES:
Misc. Occ. Group     16         0.8
R3 Occ. Group         4         0.2

#### Null Values & Missing Data

In [272]:
#data.isnull().sum()

#### Data Types

In [74]:
data.dtypes

assessor_book                              object
assessor_page                              object
assessor_parcel                            object
tract                                      object
block                                      object
lot                                        object
reference_no_old_permit_no                 object
pcis_permit_no                             object
status                                     object
status_date                                object
permit_type                                object
permit_sub_type                            object
permit_category                            object
project_number                             object
event_code                                 object
initiating_office                          object
issue_date                                 object
address_start                              object
address_fraction_start                     object
address_end                                object
address_fraction_end                       object
street_direction                           object
street_name                                object
street_suffix                              object
suffix_direction                           object
unit_range_start                           object
unit_range_end                             object
zip_code                                  float64
work_description                           object
valuation                                 float64
floor_area_la_zoning_code_definition       object
no_of_residential_dwelling_units           object
no_of_accessory_dwelling_units             object
no_of_stories                              object
contractors_business_name                  object
contractor_address                         object
contractor_city                            object
contractor_state                           object
license_type                               object
license_no                                 object
principal_first_name                       object
principal_middle_name                      object
principal_last_name                        object
license_expiration_date                    object
applicant_first_name                       object
applicant_last_name                        object
applicant_business_name                    object
applicant_address_1                        object
applicant_address_2                        object
applicant_address_3                        object
zone                                       object
occupancy                                  object
floor_area_la_building_code_definition     object
census_tract                               object
council_district                           object
latitude_longitude                         object
applicant_relationship                     object
existing_code                             float64
proposed_code                             float64
dtype: object

#### Summary
The columns *zip_code* and *latitude_longitude* need their missing values to be inferred through geocoding. Other missing data can remain as is.

#### Steps
1) Split *latitude_longitude* into separate columns and convert to float values: *latitude*, *longitude*<br>
2) Combine address columns into one columns: *full_address*<br>
3) Geocode missing *latitude_longitude* with *full_address*<br>
4) Geocode missing *zip_code* with complete *latitude_longitude*<br>
5) Geocode any missing *full_address* with *latitude_longitude*<br>
6) Convert *zip_code* to integer type<br>

In [ ]:
# Display number unique values for all columns
# Make generator
def explore_n_unique_gen(dataframe):
    
    for column, row in dataframe.iteritems():
        
        series = dataframe[column]
        name = series.name
        n_unique = series.nunique()
        n_unique_string = '"{}" unique items: {}'.format(name, n_unique)
        
        print(n_unique_string)

In [244]:
# Creates a dataframe to show value counts for columns with less than n unique values
def explore_value_counts(dataframe, n):
    
    for column, row in dataframe.iteritems():
        
        series = dataframe[column]
        name = series.name
        
        if series.nunique() < n:
            counted = series.value_counts(sort=True)
            percent = series.value_counts(sort=True, normalize=True)
            summary = pd.concat([counted, percent], axis=1)
            summary.columns = ['Count', 'Percentage']
            summary.index = summary.index.rename('"{}" categories:'.format(name))
            
            print('\n', summary, '\n')

In [245]:
column = 'permit_type'
series = df[column]

In [166]:
series.name

'permit_type'

In [178]:
name = series.name
counted = series.value_counts(sort=True)
percent = series.value_counts(sort=True, normalize=True)
summary = pd.concat([counted, percent], axis=1)
#summary[name] = name
#summary.reset_index(inplace=True)
summary.columns = ['Count', 'Percentage']
summary.index = summary.index.rename('"{}" categories:'.format(name))
print(summary)

                           Count  Percentage
"permit_type" categories:
Electrical                   301       0.301
Bldg-Alter/Repair            220       0.220
Plumbing                     203       0.203
HVAC                          90       0.090
Fire Sprinkler                55       0.055
Bldg-Addition                 23       0.023
Bldg-Demolition               19       0.019
Bldg-New                      19       0.019
Grading                       16       0.016
Elevator                      13       0.013
Swimming-Pool/Spa             11       0.011
Nonbldg-New                   11       0.011
Sign                           9       0.009
Nonbldg-Alter/Repair           7       0.007
Pressure Vessel                3       0.003

In [140]:
# Display Pandas tables side-by-side
from IPython.display import display, HTML
HTML('<style>.output {flex-direction: column;}</style>')