# permits-data / Load Data

ETL pipeline for construction permits data in Los Angeles, California, USA.

For more information:
https://data.lacity.org/A-Prosperous-City/Building-and-Safety-Permit-Information/yv23-pmwf

In [7]:
import os
import sys
from dotenv import load_dotenv, find_dotenv
import numpy as np
import pandas as pd
import psycopg2

In [8]:
# Set notebook display options
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)

In [9]:
# Get project root directory
root_dir = os.path.dirname(os.getcwd())

# Set path for modules
sys.path[0] = '../'

# Set environment variables
load_dotenv(find_dotenv());
POSTGRES_USER = os.getenv("POSTGRES_USER")
POSTGRES_PASSWORD = os.getenv("POSTGRES_PASSWORD")
POSTGRES_DB = os.getenv("POSTGRES_DB")
DB_PORT = os.getenv("DB_PORT")
DB_HOST = os.getenv("DB_HOST")
DATA_URL = os.getenv("DATA_URL")

# Environment variables specific to notebook
DATA_DIR = os.path.dirname(root_dir) + '/data'
DB_TABLE = "permits_raw"

## 1. Import Data

In [16]:
# Connect to PostgreSQL, useful only for notebook
def connect_db():
    try:
        con = psycopg2.connect(dbname=POSTGRES_DB,
                               user=POSTGRES_USER,
                               password=POSTGRES_PASSWORD,
                                host=DB_HOST, 
                                port=DB_PORT)
        print('Connected as user "{}" to database "{}" on {}:{}'.format(POSTGRES_USER,POSTGRES_DB,
                                                           DB_HOST,DB_PORT))
              
    except Exception as e:
        print('Error:\n', e)
    
    return con

In [17]:
conn = connect_db()

Connected as user "postgres" to database "permits" on localhost:5432

### 1.1 Update Table Columns in PostgreSQL Database

In [19]:
# Get raw data column names
def get_table_names(table, con):
    sql = "SELECT * FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = N'{}'".format(table)
    etl = pd.read_sql_query(sql, con)
    columns = etl['column_name']
    
    return columns

In [20]:
# Check table names
get_table_names("permits_raw", conn).head(10)

0                 assessor_book
1                 assessor_page
2               assessor_parcel
3                         tract
4                         block
5                           lot
6    reference_no_old_permit_no
7                pcis_permit_no
8                        status
9                   status_date
Name: column_name, dtype: object

In [30]:
# Retrieve table column names
old_columns = get_table_names("permits_raw", conn)

In [31]:
# Rename columns, will update table later
def format_names(series):
    
    replace_map = {' ': '_', '-': '_', '#': 'No', '/': '_', 
                   '.': '', '(': '', ')': '', "'": ''}

    def replace_chars(text):
        for oldchar, newchar in replace_map.items():
            text = text.replace(oldchar, newchar).lower()
        return text

    return series.apply(replace_chars)

In [32]:
# Transform table column names for permits_raw
new_columns = format_names(old_columns)

In [33]:
new_columns.head()

0      assessor_book
1      assessor_page
2    assessor_parcel
3              tract
4              block
Name: column_name, dtype: object

In [35]:
# Creates a SQL query to update table columns and writes to text file
### pass conn context
def create_query(old_columns, new_columns, db_table, con, run=False):
    
    sql = 'ALTER TABLE {} '.format(db_table) + 'RENAME "{old_name}" to {new_name};'
    
    
    sql_query = []

    for idx, name in old_columns.iteritems():
        sql_query.append(sql.format(old_name=name, new_name=new_columns[idx]))
        
    update_names = '\n'.join(sql_query)
    
    # update later: sql_file = os.path.join(os.path.dirname(__file__), "../postgres/scripts/update_names.sql")
    with open('../postgres/sql/update_names.sql', 'w') as text:
        text.write(update_names)
        
    # Update db is desired
    if run:
        cur = con.cursor()
        sql_file = open('../postgres/sql/update_names.sql', 'r')
        cur.execute(sql_file.read())
        con.commit()
        #conn.close()

In [36]:
# Create SQL query for permits_raw
try:
    create_query(old_columns, new_columns, run=True, con=conn, db_table=DB_TABLE)
except Exception as e: 
    conn.rollback()
    print('Error:\n', e)

In [38]:
# Check table names are updated
get_table_names("permits_raw", conn).head()

0      assessor_book
1      assessor_page
2    assessor_parcel
3              tract
4              block
Name: column_name, dtype: object

In [53]:
# TEST: 
assert (get_table_names("permits_raw", 
                        conn) == new_columns).mean() == 1, "Database table names do not match new table names"

In [55]:
# Extract full dataset
sql_all = 'SELECT * FROM {};'.format(DB_TABLE)

# Extract full dataset
data = pd.read_sql_query(sql_all, conn)
data.head()

,assessor_book,assessor_page,assessor_parcel,tract,block,lot,reference_no_old_permit_no,pcis_permit_no,status,status_date,permit_type,permit_sub_type,permit_category,project_number,event_code,initiating_office,issue_date,address_start,address_fraction_start,address_end,address_fraction_end,street_direction,street_name,street_suffix,suffix_direction,unit_range_start,unit_range_end,zip_code,work_description,valuation,floor_area_la_zoning_code_definition,no_of_residential_dwelling_units,no_of_accessory_dwelling_units,no_of_stories,contractors_business_name,contractor_address,contractor_city,contractor_state,license_type,license_no,principal_first_name,principal_middle_name,principal_last_name,license_expiration_date,applicant_first_name,applicant_last_name,applicant_business_name,applicant_address_1,applicant_address_2,applicant_address_3,zone,occupancy,floor_area_la_building_code_definition,census_tract,council_district,latitude_longitude,applicant_relationship,existing_code,proposed_code
0,4317,003,***,TR 30210-C,None,LT 1,None,15044-90000-08405,Permit Finaled,09/10/2015,HVAC,1 or 2 Family Dwelling,No Plan Check,None,None,INTERNET,2015-08-18,1823,1/2,1823,1/2,S,THAYER,AVE,None,None,None,90025.0,None,NaN,None,None,None,None,CONDITIONED AIRE MECHANICAL & ENGINEERING INC,18650 PARTHENIA STREET,NORTHRIDGE,CA,C20,532440,BRETT,MOORE,HOFFER,2016-06-30,BRETT,HOFFER,None,18650 PARTHENIA ST,None,"NORTHRIDGE, CA",R3-1-O,None,0,2671.00,5,"(34.05474, -118.42628)",Net Applicant,NaN,NaN
1,5005,010,017,CHESTERFIELD SQUARE,None,465,16SL57806,16016-70000-02464,Permit Finaled,08/01/2017,Bldg-Alter/Repair,1 or 2 Family Dwelling,No Plan Check,None,None,SOUTH LA,2016-02-04,2122,None,2122,None,W,54TH,ST,None,None,None,90062.0,General rehabilitation for single family dwell...,40000.0,None,None,None,None,OWNER-BUILDER,None,None,None,NA,0,JAVIER,None,TALAMANTES,None,JAVIER,TALAMANTES,OWNER-BUILDER,None,None,None,C2-1VL,None,None,2325.00,8,"(33.99307, -118.31668)",Owner-Bldr,1.0,NaN
2,5154,023,022,SUN-SET TRACT,D,13,14VN81535,14016-20000-13092,Issued,08/13/2014,Bldg-Alter/Repair,Apartment,Plan Check,None,None,VAN NUYS,2014-08-13,415,None,415,None,S,BURLINGTON,AVE,None,1-30,1-30,90057.0,PHOTOVOLTAIC SOLAR PANELS ON ROOF OF (E) APT BLDG,37000.0,None,None,None,None,PERMACITY CONSTRUCTION CORP,5570 W WASHINGTON BLVD,LOS ANGELES,CA,B,827864,JONATHAN,SAUL,PORT,2015-11-30,LINDA,MARTON,None,710 WILSHIRE BLVD,None,"SANTA MONICA, CA",R4-1,None,None,2089.04,1,"(34.06012, -118.26997)",Agent for Owner,5.0,NaN
3,4404,030,010,TR 12086,None,2,None,16044-30000-09658,Permit Finaled,08/29/2016,HVAC,1 or 2 Family Dwelling,No Plan Check,None,None,WEST LA,2016-08-22,315,None,315,None,S,OCEANO,DR,None,None,None,90049.0,None,NaN,None,None,None,None,E/C HEATING AND AIR CONDITION,26888 CUATRO MILPAS ST,VALENCIA,CA,C20,651051,EDY,RUDOLFO,CORDON,2018-07-31,None,None,None,None,None,None,RS-1,None,0,2640.00,11,"(34.05707, -118.4732)",Contractor,NaN,NaN
4,2646,019,011,TR 7158,None,11,None,17042-90000-31792,Permit Finaled,12/28/2017,Plumbing,1 or 2 Family Dwelling,No Plan Check,None,None,INTERNET,2017-12-26,13640,None,13640,None,W,PIERCE,ST,None,None,None,91331.0,None,NaN,None,None,None,None,TITANIUM POWER INC,1545 S LA CIENEGA BLVD,LOS ANGELES,CA,B,989217,DENNIS,HARUO,MIYAHIRA,2017-12-31,YONI,GHERMEZI,None,1545 S LA CIENEGA BLVD,None,"LOS ANGELES, CA",R1-1-O,None,0,1044.03,7,"(34.25487, -118.43002)",Net Applicant,NaN,NaN

### 1.2 Update Data Types in database

Before working with the data it will be important to have the correct data types mapped to the values. That way when extracting and loading into a Pandas dataframe, for example, it is immediately ready for analysis. 

Determining the correct data types involves some preliminary exploration of the data for which uses two helper functions: *get_snapshot* and

In [32]:
### Returns overview with column, dtype, # unique values, # missing values and sample value
def get_snapshot(dataframe):
    
    """
    Takes an existing DataFrame and creates a pandas DataFrame 
    where each row displays the original DataFrame column name, 
    number of unique values, number of missing values, and a
    random sample value from that column. 
    
    Useful for exploring raw data to quickly figure out appropriate 
    data types.
    
    Example
    -------
    
    overview = get_overview(my_dataframe)
    
    """
    unique = dataframe.nunique(axis=0)
    is_null = dataframe.isnull().sum()
    data_types = dataframe.dtypes
    
    samples = pd.DataFrame()
    column_names = pd.DataFrame()
    
    for column, row in dataframe.iteritems():
        try:
            sample = dataframe[column].dropna(axis=0).sample()
            column_name = pd.Series(column)
        except:
            pass

        samples = pd.concat([samples, sample], axis=0).reset_index(drop=True)
        column_names = pd.concat([column_names, column_name], 
                                 axis=0, ).reset_index(drop=True)

        examples = pd.concat([column_names, samples], axis=1, ignore_index=True)
        examples.columns = ['COLUMN', 'SAMPLE VALUE']
    
    overview = pd.concat([data_types, unique, is_null], axis=1)
    overview.reset_index(inplace=True)
    overview.columns = columns=['COLUMN', 'DATA TYPE', '# UNIQUE VALUES', '# MISSING VALUES']
    overview = overview.merge(right=examples, on='COLUMN').drop_duplicates(subset=['COLUMN']).set_index('COLUMN')
    
    return overview

In [33]:
get_snapshot(data)

,DATA TYPE,# UNIQUE VALUES,# MISSING VALUES,SAMPLE VALUE
COLUMN,,,,
assessor_book,object,741,2,2246
assessor_page,object,49,2,027
assessor_parcel,object,111,2,013
tract,object,1198,6,TR 2605
block,object,96,1178,D
lot,object,298,15,133
reference_no_old_permit_no,object,518,879,18VN
pcis_permit_no,object,1500,0,14041-10000-21889
status,object,11,0,Permit Finaled
status_date,datetime64[ns],962,0,2017-06-08 00:00:00
permit_type,object,15,0,Plumbing
permit_sub_type,object,6,0,Commercial
permit_category,object,2,0,No Plan Check
project_number,object,3,1485,5
initiating_office,object,6,0,INTERNET
issue_date,datetime64[ns],974,0,2018-08-10 00:00:00
address_start,object,1328,0,200
address_fraction_start,object,3,1476,1/2
address_end,object,1326,0,2560
address_fraction_end,object,4,1457,1/2
street_direction,object,4,18,N
street_name,object,955,0,2ND
street_suffix,object,15,38,ST
suffix_direction,object,5,1491,WEST
unit_range_start,object,248,1205,#13
unit_range_end,object,28,1470,Corridor
zip_code,float64,114,1,90014
work_description,object,568,879,"SIX WALL SIGNS NEAR PUMP ISLANDS: (3) ""FUEL TE..."
valuation,object,176,986,5000.00
floor_area_la_zoning_code_definition,object,69,1397,0
no_of_residential_dwelling_units,object,14,1449,-1
no_of_stories,object,7,1402,3
contractors_business_name,object,1041,0,KIBO GROUP INC
contractor_address,object,1054,170,P O BOX 410
contractor_city,object,231,181,MURRIETA
contractor_state,object,17,181,CA
license_type,object,24,0,C36
license_no,object,1014,0,0
principal_first_name,object,509,159,MATTHEW
principal_middle_name,object,395,558,DENNIS
principal_last_name,object,900,168,DOUEK
license_expiration_date,datetime64[ns],107,107,2017-02-28 00:00:00
applicant_first_name,object,605,325,CHET
applicant_last_name,object,735,476,BEZINOVER
applicant_business_name,object,115,1339,SOLARCITY
applicant_address_1,object,673,671,555 W 5TH ST 35TH FLOOR
applicant_address_2,object,156,1248,2
applicant_address_3,object,248,677,"VAN NUYS, CA"
zone,object,303,3,[Q]C4-2-O
occupancy,object,2,1480,R3 Occ. Group
floor_area_la_building_code_definition,object,91,292,0
census_tract,object,693,2,2651.00
council_district,object,15,1,1
latitude_longitude,object,1398,58,"(34.25357, -118.29444)"
applicant_relationship,object,12,40,Agent for Contractor
existing_code,float64,20,1100,16
proposed_code,float64,16,1343,7

In [66]:
# Creates a report to show value counts for columns with less than n unique values
def explore_value_counts(dataframe, n=None, all_values=False, max_n=1500, columns=None, printed=True):
    
    """
    This function is helpful for quickly determining which values
    should be converted to integer or category types in a dataframe.
    
    Prints a series of custom text summaries with n value counts 
    for each column. Can work if neither n nor columns are specified.
    
    Also can return a generator yielding a text summary with n
    value counts for each column.
    
    Example:
    --------
    ## Iterates through individual tables
    gen = explore_value_counts(data, printed=False)
    print(next(gen)) 
    
    ## Prints all tables to STDOUT
    explore_value_counts(data, printed=True)
    
    Params
    --------
    dataframe : pandas DataFrame
        DataFrame with columns to be summarized.
    n : integer
        Max number of unique categories in column.
    all_values : bool
        Set to True to return all unique values. Will override n.
    max_n : integer
        Ceiling safeguard to avoid extremely large values of n
    columns : list 
        Columns to include in output.
    printed : bool
        If True prints to console; if False returns generator object
        which can be printed as text.
    
    Returns
    --------
    if printed=True: prints all formatted text of all tables
    
    if printed=False: generator object that outputs one table
    
    """
    
    # Parsing arguments
    if columns:
        dataframe = dataframe[columns]
    
    if n:
        n = n if n <= max_n else max_n
    else:
        n = len(dataframe) if len(dataframe) <= max_n else max_n
    
    if all_values:            
        n = len(dataframe) if len(dataframe) <= max_n else max_n
    
    if not n:
        n = 30
    
    def make_tables():
        dataframe_n = pd.DataFrame()

        # Data selection
        for column, row in dataframe.iteritems():
            
            n_unique = dataframe[column].nunique()
            
            # Throws error if float64 is removed
            if (dataframe[column].dtype not in ['float64', '<M8[ns]']):
                dataframe_n = pd.concat([dataframe_n, dataframe[column]], axis=1)

        summary_list = []

        # Text generation
        for column, row in dataframe_n.iteritems(): 
            series = dataframe_n[column]
            name = series.name
            
            index_slice = n if n <= len(series) else len(series)
            
            # Create dataframe of value counts
            counted = series.value_counts(sort=True)[:index_slice]
            percent = series.value_counts(sort=True, normalize=True)[:index_slice]
            summary = pd.concat([counted, percent], axis=1)
            summary.columns = ['COUNT', 'PERCENTAGE']
            summary.index = summary.index.rename('UNIQUE VALUES:')
            
            # Create a custom table with n unique, missing values to print to console as text
            summary_text = 'COLUMN:   "{}"\nDATA TYPE:  {}'.format(name, series.dtype)
            summary_text = summary_text + '\nTOTAL UNIQUE:  {}'.format(name, series.nunique())
            summary_text = summary_text + '\nTOTAL MISSING:  {}'.format(series.isnull().sum())
            summary_text = summary_text + '\n' + summary.to_string() + '\n\n'

            summary_list.append(summary_text)
        
        if not printed:
            summary_gen = iter(summary_list)
            return summary_gen
        else:
            return summary_list
        
    if printed:
        print('\n'.join(make_tables()))
    else:
        return make_tables()

In [67]:
# Examine variables to determine appropriate data types
explore_value_counts(data, n=10, printed=True)

COLUMN:   "assessor_book"
DATA TYPE:  object
TOTAL UNIQUE:  assessor_book
TOTAL MISSING:  2
                COUNT  PERCENTAGE
UNIQUE VALUES:
5144               27    0.018024
4319               15    0.010013
2146               14    0.009346
5151               13    0.008678
4129               12    0.008011
2701               12    0.008011
5149               11    0.007343
2761                8    0.005340
4211                8    0.005340
7351                7    0.004673


COLUMN:   "assessor_page"
DATA TYPE:  object
TOTAL UNIQUE:  assessor_page
TOTAL MISSING:  2
                COUNT  PERCENTAGE
UNIQUE VALUES:
001                76    0.050734
003                61    0.040721
007                58    0.038718
004                56    0.037383
012                53    0.035381
019                53    0.035381
006                52    0.034713
016                52    0.034713
015                52    0.034713
002                51    0.034045


COLUMN:   "assessor_parcel"
DATA TYPE:  object
TOTAL UNIQUE:  assessor_parcel
TOTAL MISSING:  2
                COUNT  PERCENTAGE
UNIQUE VALUES:
***                75    0.050067
004                58    0.038718
017                55    0.036716
001                52    0.034713
012                50    0.033378
022                46    0.030708
015                46    0.030708
009                43    0.028705
008                42    0.028037
005                42    0.028037


COLUMN:   "tract"
DATA TYPE:  object
TOTAL UNIQUE:  tract
TOTAL MISSING:  6
                                     COUNT  PERCENTAGE
UNIQUE VALUES:
TR 1000                                 13    0.008701
RANCHO SAUSAL REDONDO                   13    0.008701
TR 5609                                 12    0.008032
TR 9300                                  7    0.004685
ORD'S SURVEY                             6    0.004016
TR 6170                                  6    0.004016
LANKERSHIM RANCH LAND AND WATER CO.      6    0.004016
IVANHOE                                  6    0.004016
P M 3784                                 6    0.004016
RANCHO LA BREA                           5    0.003347


COLUMN:   "block"
DATA TYPE:  object
TOTAL UNIQUE:  block
TOTAL MISSING:  1178
                COUNT  PERCENTAGE
UNIQUE VALUES:
2                  20    0.062112
3                  18    0.055901
1                  14    0.043478
5                  13    0.040373
4                  12    0.037267
6                  11    0.034161
7                  11    0.034161
C                   9    0.027950
11                  9    0.027950
B                   9    0.027950


COLUMN:   "lot"
DATA TYPE:  object
TOTAL UNIQUE:  lot
TOTAL MISSING:  15
                COUNT  PERCENTAGE
UNIQUE VALUES:
1                 108    0.072727
LT 1               84    0.056566
4                  47    0.031650
2                  47    0.031650
6                  41    0.027609
A                  39    0.026263
8                  38    0.025589
3                  38    0.025589
5                  36    0.024242
10                 34    0.022896


COLUMN:   "reference_no_old_permit_no"
DATA TYPE:  object
TOTAL UNIQUE:  reference_no_old_permit_no
TOTAL MISSING:  879
                COUNT  PERCENTAGE
UNIQUE VALUES:
16LA               15    0.024155
15LA               14    0.022544
18VN               13    0.020934
15VN               12    0.019324
13LA               10    0.016103
16VN                9    0.014493
18LA                8    0.012882
14VN                8    0.012882
17VN                8    0.012882
14LA                6    0.009662


COLUMN:   "pcis_permit_no"
DATA TYPE:  object
TOTAL UNIQUE:  pcis_permit_no
TOTAL MISSING:  0
                   COUNT  PERCENTAGE
UNIQUE VALUES:
14041-10000-13398      1    0.000667
17044-90000-05242      1    0.000667
13041-90000-06457      1    0.000667
13016-20000-12798      1    0.000667
14016-40000-13485      1    0.000667
17042-90000-07314      1    0.000667
14043-10000-02344      1    0.000667
14016-90000-21148      1    0.000667
17026-10000-00124      1    0.000667
16048-30000-02717      1    0.000667


COLUMN:   "status"
DATA TYPE:  object
TOTAL UNIQUE:  status
TOTAL MISSING:  0
                    COUNT  PERCENTAGE
UNIQUE VALUES:
Permit Finaled       1106    0.737333
Issued                210    0.140000
Permit Expired         77    0.051333
CofO Issued            57    0.038000
Permit Closed          25    0.016667
Refund Completed       14    0.009333
Re-Activate Permit      4    0.002667
CofO in Progress        3    0.002000
CofC Issued             2    0.001333
CofO Corrected          1    0.000667


COLUMN:   "permit_type"
DATA TYPE:  object
TOTAL UNIQUE:  permit_type
TOTAL MISSING:  0
                   COUNT  PERCENTAGE
UNIQUE VALUES:
Electrical           468    0.312000
Bldg-Alter/Repair    322    0.214667
Plumbing             291    0.194000
HVAC                 143    0.095333
Fire Sprinkler        76    0.050667
Bldg-Addition         37    0.024667
Bldg-New              29    0.019333
Grading               26    0.017333
Bldg-Demolition       25    0.016667
Sign                  18    0.012000


COLUMN:   "permit_sub_type"
DATA TYPE:  object
TOTAL UNIQUE:  permit_sub_type
TOTAL MISSING:  0
                        COUNT  PERCENTAGE
UNIQUE VALUES:
1 or 2 Family Dwelling    837    0.558000
Commercial                403    0.268667
Apartment                 229    0.152667
Onsite                     17    0.011333
Special Equipment          13    0.008667
Offsite                     1    0.000667


COLUMN:   "permit_category"
DATA TYPE:  object
TOTAL UNIQUE:  permit_category
TOTAL MISSING:  0
                COUNT  PERCENTAGE
UNIQUE VALUES:
No Plan Check    1020        0.68
Plan Check        480        0.32


COLUMN:   "project_number"
DATA TYPE:  object
TOTAL UNIQUE:  project_number
TOTAL MISSING:  1485
                COUNT  PERCENTAGE
UNIQUE VALUES:
5                  10    0.666667
1                   4    0.266667
4                   1    0.066667


COLUMN:   "event_code"
DATA TYPE:  object
TOTAL UNIQUE:  event_code
TOTAL MISSING:  1500
Empty DataFrame
Columns: [COUNT, PERCENTAGE]
Index: []


COLUMN:   "initiating_office"
DATA TYPE:  object
TOTAL UNIQUE:  initiating_office
TOTAL MISSING:  0
                COUNT  PERCENTAGE
UNIQUE VALUES:
METRO             429    0.286000
VAN NUYS          414    0.276000
INTERNET          412    0.274667
WEST LA           123    0.082000
SOUTH LA           69    0.046000
SANPEDRO           53    0.035333


COLUMN:   "address_start"
DATA TYPE:  object
TOTAL UNIQUE:  address_start
TOTAL MISSING:  0
                COUNT  PERCENTAGE
UNIQUE VALUES:
900                 5    0.003333
9301                5    0.003333
380                 4    0.002667
811                 4    0.002667
5900                4    0.002667
555                 4    0.002667
100                 4    0.002667
3113                4    0.002667
1000                4    0.002667
1200                4    0.002667


COLUMN:   "address_fraction_start"
DATA TYPE:  object
TOTAL UNIQUE:  address_fraction_start
TOTAL MISSING:  1476
                COUNT  PERCENTAGE
UNIQUE VALUES:
1/2                21    0.875000
1/4                 2    0.083333
1/5                 1    0.041667


COLUMN:   "address_end"
DATA TYPE:  object
TOTAL UNIQUE:  address_end
TOTAL MISSING:  0
                COUNT  PERCENTAGE
UNIQUE VALUES:
9301                5    0.003333
900                 5    0.003333
811                 4    0.002667
1000                4    0.002667
1200                4    0.002667
1999                4    0.002667
5900                4    0.002667
100                 4    0.002667
380                 4    0.002667
555                 4    0.002667


COLUMN:   "address_fraction_end"
DATA TYPE:  object
TOTAL UNIQUE:  address_fraction_end
TOTAL MISSING:  1457
                COUNT  PERCENTAGE
UNIQUE VALUES:
1/2                38    0.883721
1/4                 3    0.069767
1/5                 1    0.023256
3/4                 1    0.023256


COLUMN:   "street_direction"
DATA TYPE:  object
TOTAL UNIQUE:  street_direction
TOTAL MISSING:  18
                COUNT  PERCENTAGE
UNIQUE VALUES:
W                 606    0.408907
N                 477    0.321862
S                 325    0.219298
E                  74    0.049933


COLUMN:   "street_name"
DATA TYPE:  object
TOTAL UNIQUE:  street_name
TOTAL MISSING:  0
                COUNT  PERCENTAGE
UNIQUE VALUES:
WILSHIRE           36    0.024000
FIGUEROA           24    0.016000
WORLD              15    0.010000
GRAND              11    0.007333
SANTA MONICA       11    0.007333
7TH                10    0.006667
VENTURA             9    0.006000
SUNSET              9    0.006000
OLYMPIC             9    0.006000
BEVERLY             8    0.005333


COLUMN:   "street_suffix"
DATA TYPE:  object
TOTAL UNIQUE:  street_suffix
TOTAL MISSING:  38
                COUNT  PERCENTAGE
UNIQUE VALUES:
AVE               503    0.344049
ST                442    0.302326
BLVD              221    0.151163
DR                121    0.082763
PL                 52    0.035568
WAY                47    0.032148
ROAD               38    0.025992
LANE               14    0.009576
CT                  7    0.004788
CIR                 6    0.004104


COLUMN:   "suffix_direction"
DATA TYPE:  object
TOTAL UNIQUE:  suffix_direction
TOTAL MISSING:  1491
                COUNT  PERCENTAGE
UNIQUE VALUES:
EAST                4    0.444444
WEST                2    0.222222
WES                 1    0.111111
NORTH               1    0.111111
EAS                 1    0.111111


COLUMN:   "unit_range_start"
DATA TYPE:  object
TOTAL UNIQUE:  unit_range_start
TOTAL MISSING:  1205
                COUNT  PERCENTAGE
UNIQUE VALUES:
PV1                 7    0.023729
TEMP                6    0.020339
#2                  5    0.016949
1-8                 4    0.013559
1ST FLR             4    0.013559
1                   3    0.010169
205                 3    0.010169
#1                  3    0.010169
#101                3    0.010169
EV1                 3    0.010169


COLUMN:   "unit_range_end"
DATA TYPE:  object
TOTAL UNIQUE:  unit_range_end
TOTAL MISSING:  1470
                COUNT  PERCENTAGE
UNIQUE VALUES:
1-8                 3    0.100000
BLDG 8              1    0.033333
214                 1    0.033333
Corridor            1    0.033333
Lot 1               1    0.033333
STE 1960            1    0.033333
1-5                 1    0.033333
FLOOR               1    0.033333
45TH FL             1    0.033333
B                   1    0.033333


COLUMN:   "work_description"
DATA TYPE:  object
TOTAL UNIQUE:  work_description
TOTAL MISSING:  879
                                                    COUNT  PERCENTAGE
UNIQUE VALUES:
Re-roof with Class A or B material weighing les...     15    0.024155
Re-roof with Class A or B material weighing les...     13    0.020934
RE-ROOF WITH CLASS A OR B MATERIAL WEIGHING LES...      4    0.006441
Add sill plate anchors bolts and cripple wall p...      4    0.006441
Replace 1 door(s). Same size, location, number,...      3    0.004831
SINGLE FAMILY DWELLING. FIRE SPRINKLER INSTALLA...      3    0.004831
Bathroom (1) remodel for residential buildings ...      3    0.004831
Interior bathroom remodel/repair (no changes in...      3    0.004831
Installation of approved security bars for 1 dw...      2    0.003221
Tear off existing roofing material and Re-roof ...      2    0.003221


COLUMN:   "valuation"
DATA TYPE:  object
TOTAL UNIQUE:  valuation
TOTAL MISSING:  986
                COUNT  PERCENTAGE
UNIQUE VALUES:
0.00               36    0.070039
5000.00            26    0.050584
501.00             20    0.038911
25000.00           19    0.036965
10000.00           15    0.029183
30000.00           14    0.027237
3000.00            14    0.027237
2000.00            14    0.027237
7000.00            14    0.027237
20000.00           13    0.025292


COLUMN:   "floor_area_la_zoning_code_definition"
DATA TYPE:  object
TOTAL UNIQUE:  floor_area_la_zoning_code_definition
TOTAL MISSING:  1397
                COUNT  PERCENTAGE
UNIQUE VALUES:
0                  34    0.330097
200                 2    0.019417
224                 1    0.009709
372                 1    0.009709
143                 1    0.009709
1378                1    0.009709
27265               1    0.009709
764                 1    0.009709
484                 1    0.009709
4638                1    0.009709


COLUMN:   "no_of_residential_dwelling_units"
DATA TYPE:  object
TOTAL UNIQUE:  no_of_residential_dwelling_units
TOTAL MISSING:  1449
                COUNT  PERCENTAGE
UNIQUE VALUES:
0                  17    0.333333
-1                 10    0.196078
1                   8    0.156863
2                   4    0.078431
-2                  2    0.039216
9                   2    0.039216
6                   1    0.019608
63                  1    0.019608
8                   1    0.019608
-10                 1    0.019608


COLUMN:   "no_of_accessory_dwelling_units"
DATA TYPE:  object
TOTAL UNIQUE:  no_of_accessory_dwelling_units
TOTAL MISSING:  1500
Empty DataFrame
Columns: [COUNT, PERCENTAGE]
Index: []


COLUMN:   "no_of_stories"
DATA TYPE:  object
TOTAL UNIQUE:  no_of_stories
TOTAL MISSING:  1402
                COUNT  PERCENTAGE
UNIQUE VALUES:
0                  34    0.346939
1                  33    0.336735
2                  18    0.183673
3                   8    0.081633
4                   3    0.030612
5                   1    0.010204
-2                  1    0.010204


COLUMN:   "contractors_business_name"
DATA TYPE:  object
TOTAL UNIQUE:  contractors_business_name
TOTAL MISSING:  0
                            COUNT  PERCENTAGE
UNIQUE VALUES:
OWNER-BUILDER                 179    0.119333
SOLARCITY CORPORATION          42    0.028000
METRO RETROFITTING INC         18    0.012000
HERZOG M B ELECTRIC INC        13    0.008667
TITANIUM POWER INC             11    0.007333
ARNDT & TRAINA INC             10    0.006667
MARAVILLA FOUNDATION            8    0.005333
MUIR-CHASE PLUMBING CO INC      6    0.004000
COSCO FIRE PROTECTION INC       6    0.004000
ON TARGET ELECTRIC INC          6    0.004000


COLUMN:   "contractor_address"
DATA TYPE:  object
TOTAL UNIQUE:  contractor_address
TOTAL MISSING:  170
                              COUNT  PERCENTAGE
UNIQUE VALUES:
3055 CLEARVIEW WAY               34    0.025564
7631 ALABAMA AVE SUITE A         16    0.012030
15709 ILLINOIS STREET            13    0.009774
1545 S LA CIENEGA BLVD           12    0.009023
12457 GLADSTONE AVENUE H         10    0.007519
3055 CLEARVIEW                    9    0.006767
5729 E UNION PACIFIC AVE          8    0.006015
8599 VENICE BLVD                  6    0.004511
12990 BRANFORD STREET UNIT G      6    0.004511
29222 RANCHO VIEJO ROAD           6    0.004511


COLUMN:   "contractor_city"
DATA TYPE:  object
TOTAL UNIQUE:  contractor_city
TOTAL MISSING:  181
                 COUNT  PERCENTAGE
UNIQUE VALUES:
LOS ANGELES        188    0.142532
VAN NUYS            46    0.034875
SAN MATEO           44    0.033359
CANOGA PARK         34    0.025777
GLENDALE            30    0.022745
NORTH HOLLYWOOD     26    0.019712
NORTHRIDGE          25    0.018954
SYLMAR              24    0.018196
ANAHEIM             24    0.018196
WOODLAND HILLS      24    0.018196


COLUMN:   "contractor_state"
DATA TYPE:  object
TOTAL UNIQUE:  contractor_state
TOTAL MISSING:  181
                COUNT  PERCENTAGE
UNIQUE VALUES:
CA               1278    0.968916
WA                  8    0.006065
GA                  7    0.005307
FL                  6    0.004549
TN                  3    0.002274
NV                  3    0.002274
NJ                  2    0.001516
AZ                  2    0.001516
CO                  2    0.001516
WI                  1    0.000758


COLUMN:   "license_type"
DATA TYPE:  object
TOTAL UNIQUE:  license_type
TOTAL MISSING:  0
                COUNT  PERCENTAGE
UNIQUE VALUES:
B                 477    0.318000
C10               298    0.198667
C36               196    0.130667
NA                179    0.119333
C20               110    0.073333
C16                74    0.049333
C39                50    0.033333
C46                23    0.015333
C53                21    0.014000
C11                17    0.011333


COLUMN:   "license_no"
DATA TYPE:  object
TOTAL UNIQUE:  license_no
TOTAL MISSING:  0
                COUNT  PERCENTAGE
UNIQUE VALUES:
0                 179    0.119333
888104             44    0.029333
505706             18    0.012000
383811             13    0.008667
989217             12    0.008000
799399             10    0.006667
622969              8    0.005333
987398              6    0.004000
924167              6    0.004000
539835              6    0.004000


COLUMN:   "principal_first_name"
DATA TYPE:  object
TOTAL UNIQUE:  principal_first_name
TOTAL MISSING:  159
                COUNT  PERCENTAGE
UNIQUE VALUES:
DAVID              44    0.032811
BENJAMIN           39    0.029083
MICHAEL            38    0.028337
ROBERT             28    0.020880
JOHN               26    0.019389
JAMES              26    0.019389
JOSE               25    0.018643
MARK               23    0.017151
FABIAN             18    0.013423
DANIEL             18    0.013423


COLUMN:   "principal_middle_name"
DATA TYPE:  object
TOTAL UNIQUE:  principal_middle_name
TOTAL MISSING:  558
                COUNT  PERCENTAGE
UNIQUE VALUES:
MICHAEL            34    0.036093
JEREMIAH           32    0.033970
DAVID              20    0.021231
EDWARD             20    0.021231
LEE                19    0.020170
JOSEPH             17    0.018047
JOHN               15    0.015924
LAWRENCE           15    0.015924
PAUL               13    0.013800
ROBERT             12    0.012739


COLUMN:   "principal_last_name"
DATA TYPE:  object
TOTAL UNIQUE:  principal_last_name
TOTAL MISSING:  168
                COUNT  PERCENTAGE
UNIQUE VALUES:
LIU                32    0.024024
FRIEDMAN           18    0.013514
GONZALEZ           15    0.011261
HERZOG             13    0.009760
TRAINA             10    0.007508
RODRIGUEZ           9    0.006757
CAHILL              8    0.006006
SMITH               8    0.006006
RETA                8    0.006006
COHEN               7    0.005255


COLUMN:   "applicant_first_name"
DATA TYPE:  object
TOTAL UNIQUE:  applicant_first_name
TOTAL MISSING:  325
                COUNT  PERCENTAGE
UNIQUE VALUES:
DAVID              31    0.026383
JOSE               23    0.019574
KEVIN              17    0.014468
LINDA              16    0.013617
GLORIA             14    0.011915
YONI               12    0.010213
JOHN               12    0.010213
JOSEPH             12    0.010213
MICHAEL            12    0.010213
ERIC               11    0.009362


COLUMN:   "applicant_last_name"
DATA TYPE:  object
TOTAL UNIQUE:  applicant_last_name
TOTAL MISSING:  476
                COUNT  PERCENTAGE
UNIQUE VALUES:
BAUTISTA           18    0.017578
BUSH               13    0.012695
GHERMEZI           12    0.011719
HERNANDEZ          11    0.010742
AGUILAR            11    0.010742
TRAINA             10    0.009766
GARCIA              8    0.007812
MARTINEZ            7    0.006836
GONZALEZ            7    0.006836
SMITH               7    0.006836


COLUMN:   "applicant_business_name"
DATA TYPE:  object
TOTAL UNIQUE:  applicant_business_name
TOTAL MISSING:  1339
                                COUNT  PERCENTAGE
UNIQUE VALUES:
OWNER-BUILDER                      39    0.242236
SOLARCITY                           3    0.018634
SOLAR CITY                          3    0.018634
DELTA ELEVATOR                      2    0.012422
CORE FIRE PROTECTION                2    0.012422
MNS ENGINEERING                     2    0.012422
ON TARGET ELECTRIC                  2    0.012422
MILLENNIUM GENERATION INC           1    0.006211
D R C ENGINEERING                   1    0.006211
ADVANCE FIRE PROTECTION CO INC      1    0.006211



#### Summary of Data Types
The following columns will have their data types programmatically updated in the database:

***Pandas Category columns:***
* status - VARCHAR(30)
* permit_type - VARCHAR(30)
* permit_sub_type - VARCHAR(30)
* permit_category - VARCHAR(30)
* initiating_office - VARCHAR(30)
* license_type - VARCHAR(10)
* zone - VARCHAR(10)
* census_tract - VARCHAR(10)
* applicant_relationship - VARCHAR(30)

***Pandas Integer columns:***
* council_district - SMALLINT
* project_number - SMALLINT
* address_start - INTEGER
* address_end - INTEGER
* no_of_residential_dwelling_units - SMALLINT
* no_of_accessory_dwelling_units - SMALLINT
* no_of_stories - SMALLINT
* license_no - INTEGER

***Pandas Float columns:***
* valuation - NUMERIC(12, 2)

In [76]:
varchar_cols = {'status':'VARCHAR(30)', 'permit_type':'VARCHAR(30)', 'permit_sub_type':'VARCHAR(30)', 
                'permit_category':'VARCHAR(30)', 'initiating_office':'VARCHAR(30)', 
                'license_type':'VARCHAR(10)', 'zone':'VARCHAR(10)', 'census_tract':'VARCHAR(10)', 
                'applicant_relationship':'VARCHAR(10)'}

integer_cols = {'council_district': 'SMALLINT', 'project_number': 'SMALLINT', 'address_start': 'INTEGER', 
                'address_end': 'INTEGER', 'no_of_residential_dwelling_units': 'SMALLINT', 
                'no_of_accessory_dwelling_units': 'SMALLINT', 'no_of_stories': 'SMALLINT', 
                'license_no': 'INTEGER'}

numeric_cols = {'valuation': 'NUMERIC(12, 2)'}

In [97]:
# Define SQL update queries
sql_alter_table = "ALTER TABLE public.{table}\n\t".format(table=DB_TABLE)
sql_varchar = "ALTER {column} TYPE {col_type},\n\t"
sql_integer = "ALTER {column} TYPE {col_type} USING {column}::integer,\n\t"
sql_numeric = "ALTER {column} TYPE {col_type} USING {column}::numeric;\n\t"

### Merge query statements using dicts

# VARCHAR types
sql_update_varchar = []
for column, col_type in varchar_cols.items():
    sql_update_varchar.append(sql_varchar.format(column=column, col_type=col_type))

# INTEGER/SMALLINT types
#sql_update_integer = []
#for column, col_type in integer_cols.items():
    #sql_update_types.append(sql_integer.format(column=column, col_type=col_type))

    
sql_update_types = sql_alter_table + ''.join(sql_update_varchar)


print(sql_update_types)

ALTER TABLE public.permits_raw
	ALTER zone TYPE VARCHAR(10);
	ALTER permit_type TYPE VARCHAR(30);
	ALTER status TYPE VARCHAR(30);
	ALTER permit_category TYPE VARCHAR(30);
	ALTER license_type TYPE VARCHAR(10);
	ALTER permit_sub_type TYPE VARCHAR(30);
	ALTER census_tract TYPE VARCHAR(10);
	ALTER initiating_office TYPE VARCHAR(30);
	ALTER applicant_relationship TYPE VARCHAR(10);

## 2. Clean Data

In [21]:
# Connect to db
conn = connect_db()

# Extract partial dataset
sql_all = 'SELECT * FROM {} LIMIT 1500;'.format(DB_TABLE)

# Columns to parse as dates
date_columns = ['status_date', 'issue_date', 'license_expiration_date']

# Fetch fresh data
data = pd.read_sql_query(sql_all, conn, parse_dates=date_columns, 
                         coerce_float=False)

Connected as user "postgres" to database "permits" on localhost:5432

In [22]:
data.head()

,assessor_book,assessor_page,assessor_parcel,tract,block,lot,reference_no_old_permit_no,pcis_permit_no,status,status_date,permit_type,permit_sub_type,permit_category,project_number,event_code,initiating_office,issue_date,address_start,address_fraction_start,address_end,address_fraction_end,street_direction,street_name,street_suffix,suffix_direction,unit_range_start,unit_range_end,zip_code,work_description,valuation,floor_area_la_zoning_code_definition,no_of_residential_dwelling_units,no_of_accessory_dwelling_units,no_of_stories,contractors_business_name,contractor_address,contractor_city,contractor_state,license_type,license_no,principal_first_name,principal_middle_name,principal_last_name,license_expiration_date,applicant_first_name,applicant_last_name,applicant_business_name,applicant_address_1,applicant_address_2,applicant_address_3,zone,occupancy,floor_area_la_building_code_definition,census_tract,council_district,latitude_longitude,applicant_relationship,existing_code,proposed_code
0,4317,003,***,TR 30210-C,None,LT 1,None,15044-90000-08405,Permit Finaled,2015-09-10,HVAC,1 or 2 Family Dwelling,No Plan Check,None,None,INTERNET,2015-08-18,1823,1/2,1823,1/2,S,THAYER,AVE,None,None,None,90025.0,None,None,None,None,None,None,CONDITIONED AIRE MECHANICAL & ENGINEERING INC,18650 PARTHENIA STREET,NORTHRIDGE,CA,C20,532440,BRETT,MOORE,HOFFER,2016-06-30,BRETT,HOFFER,None,18650 PARTHENIA ST,None,"NORTHRIDGE, CA",R3-1-O,None,0,2671.00,5,"(34.05474, -118.42628)",Net Applicant,NaN,NaN
1,5005,010,017,CHESTERFIELD SQUARE,None,465,16SL57806,16016-70000-02464,Permit Finaled,2017-08-01,Bldg-Alter/Repair,1 or 2 Family Dwelling,No Plan Check,None,None,SOUTH LA,2016-02-04,2122,None,2122,None,W,54TH,ST,None,None,None,90062.0,General rehabilitation for single family dwell...,40000.00,None,None,None,None,OWNER-BUILDER,None,None,None,NA,0,JAVIER,None,TALAMANTES,NaT,JAVIER,TALAMANTES,OWNER-BUILDER,None,None,None,C2-1VL,None,None,2325.00,8,"(33.99307, -118.31668)",Owner-Bldr,1.0,NaN
2,5154,023,022,SUN-SET TRACT,D,13,14VN81535,14016-20000-13092,Issued,2014-08-13,Bldg-Alter/Repair,Apartment,Plan Check,None,None,VAN NUYS,2014-08-13,415,None,415,None,S,BURLINGTON,AVE,None,1-30,1-30,90057.0,PHOTOVOLTAIC SOLAR PANELS ON ROOF OF (E) APT BLDG,37000.00,None,None,None,None,PERMACITY CONSTRUCTION CORP,5570 W WASHINGTON BLVD,LOS ANGELES,CA,B,827864,JONATHAN,SAUL,PORT,2015-11-30,LINDA,MARTON,None,710 WILSHIRE BLVD,None,"SANTA MONICA, CA",R4-1,None,None,2089.04,1,"(34.06012, -118.26997)",Agent for Owner,5.0,NaN
3,4404,030,010,TR 12086,None,2,None,16044-30000-09658,Permit Finaled,2016-08-29,HVAC,1 or 2 Family Dwelling,No Plan Check,None,None,WEST LA,2016-08-22,315,None,315,None,S,OCEANO,DR,None,None,None,90049.0,None,None,None,None,None,None,E/C HEATING AND AIR CONDITION,26888 CUATRO MILPAS ST,VALENCIA,CA,C20,651051,EDY,RUDOLFO,CORDON,2018-07-31,None,None,None,None,None,None,RS-1,None,0,2640.00,11,"(34.05707, -118.4732)",Contractor,NaN,NaN
4,2646,019,011,TR 7158,None,11,None,17042-90000-31792,Permit Finaled,2017-12-28,Plumbing,1 or 2 Family Dwelling,No Plan Check,None,None,INTERNET,2017-12-26,13640,None,13640,None,W,PIERCE,ST,None,None,None,91331.0,None,None,None,None,None,None,TITANIUM POWER INC,1545 S LA CIENEGA BLVD,LOS ANGELES,CA,B,989217,DENNIS,HARUO,MIYAHIRA,2017-12-31,YONI,GHERMEZI,None,1545 S LA CIENEGA BLVD,None,"LOS ANGELES, CA",R1-1-O,None,0,1044.03,7,"(34.25487, -118.43002)",Net Applicant,NaN,NaN

### 2.1 Exploring Missing Data & Data Types

#### Overview of Unique Values in Qualitative Data

Before making decisions regarding missing values or data types, it is important to be familiar with the content of each column especially considering the permits dataset mostly contains qualitative data.

#### Summary
* *zip_code* and *latitude_longitude* need their missing values to be inferred through geocoding.
* *issue_date* and *license_expiration_date* should be parsed as datetime objects on import.
* All address columns should be combined into one column containing the full address.
* Columns will be converted to more appropriate data types such as float, integer, and category.

### 2.2 Processing Missing Data & Data Types

***Overview:***
* Update the data types of columns listed above
* Split *latitude_longitude* into separate columns and convert to float values: *latitude*, *longitude*<br>
* Combine address columns into one columns: *full_address*<br>
* Geocode missing *latitude_longitude* with *full_address*<br>
* Geocode missing *zip_code* with complete *latitude_longitude*<br>
* Geocode any missing *full_address* with *latitude_longitude*<br>