# permits-data / Load Data

ETL pipeline for construction permits data in Los Angeles, California, USA.

For more information:
https://data.lacity.org/A-Prosperous-City/Building-and-Safety-Permit-Information/yv23-pmwf

In [23]:
import os
import sys
from dotenv import load_dotenv, find_dotenv
load_dotenv(find_dotenv());
import numpy as np
import pandas as pd
import psycopg2

In [24]:
# Set notebook display options
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)

In [25]:
# Get project root directory
root_dir = os.path.dirname(os.getcwd())

# Set path for modules
sys.path[0] = '../'

# Set environment variables
POSTGRES_USER = os.getenv("POSTGRES_USER")
POSTGRES_PASSWORD = os.getenv("POSTGRES_PASSWORD")
POSTGRES_DB = os.getenv("POSTGRES_DB")
DB_PORT = os.getenv("DB_PORT")
DB_HOST = os.getenv("DB_HOST")
DATA_URL = os.getenv("DATA_URL")

# Environment variables specific to notebook
DATA_DIR = os.path.dirname(root_dir) + '/data'
DB_TABLE = "permits_raw"

## 1. Import Data

In [61]:
# Connect to PostgreSQL, useful only for notebook
def connect_db():
    try:
        con = psycopg2.connect(dbname=POSTGRES_DB,
                               user=POSTGRES_USER,
                               password=POSTGRES_PASSWORD,
                                host=DB_HOST, 
                                port=DB_PORT)
    except Exception as e:
        print('Error:\n', e)
    
    return con

In [62]:
conn = connect_db()

### 1.1 Update Table Columns in PostgreSQL Database

In [63]:
# Get raw data column names
def get_table_names(table, con):
    sql = "SELECT * FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = N'{}'".format(table)
    etl = pd.read_sql_query(sql, con)
    columns = etl['column_name']
    
    return columns

In [64]:
# Check table names
get_table_names("permits_raw", conn).head(10)

0                 assessor_book
1                 assessor_page
2               assessor_parcel
3                         tract
4                         block
5                           lot
6    reference_no_old_permit_no
7                pcis_permit_no
8                        status
9                   status_date
Name: column_name, dtype: object

In [30]:
# Retrieve table column names
old_columns = get_table_names("permits_raw", conn)

In [31]:
# Rename columns, will update table later
def format_names(series):
    
    replace_map = {' ': '_', '-': '_', '#': 'No', '/': '_', 
                   '.': '', '(': '', ')': '', "'": ''}

    def replace_chars(text):
        for oldchar, newchar in replace_map.items():
            text = text.replace(oldchar, newchar).lower()
        return text

    return series.apply(replace_chars)

In [32]:
# Transform table column names for permits_raw
new_columns = format_names(old_columns)

In [33]:
new_columns.head()

0      assessor_book
1      assessor_page
2    assessor_parcel
3              tract
4              block
Name: column_name, dtype: object

In [35]:
# Creates a SQL query to update table columns and writes to text file
### pass conn context
def create_query(old_columns, new_columns, db_table, con, run=False):
    
    sql = 'ALTER TABLE {} '.format(db_table) + 'RENAME "{old_name}" to {new_name};'
    
    
    sql_query = []

    for idx, name in old_columns.iteritems():
        sql_query.append(sql.format(old_name=name, new_name=new_columns[idx]))
        
    update_names = '\n'.join(sql_query)
    
    # update later: sql_file = os.path.join(os.path.dirname(__file__), "../postgres/scripts/update_names.sql")
    with open('../postgres/sql/update_names.sql', 'w') as text:
        text.write(update_names)
        
    # Update db is desired
    if run:
        cur = con.cursor()
        sql_file = open('../postgres/sql/update_names.sql', 'r')
        cur.execute(sql_file.read())
        con.commit()
        #conn.close()

In [36]:
# Create SQL query for permits_raw
try:
    create_query(old_columns, new_columns, run=True, con=conn, db_table=DB_TABLE)
except Exception as e: 
    conn.rollback()
    print('Error:\n', e)

In [38]:
# Check table names are updated
get_table_names("permits_raw", conn).head()

0      assessor_book
1      assessor_page
2    assessor_parcel
3              tract
4              block
Name: column_name, dtype: object

In [53]:
# TEST: 
assert (get_table_names("permits_raw", 
                        conn) == new_columns).mean() == 1, "Database table names do not match new table names"

In [55]:
# Extract full dataset
sql_all = 'SELECT * FROM {};'.format(DB_TABLE)

# Extract full dataset
data = pd.read_sql_query(sql_all, conn)
data.head()

,assessor_book,assessor_page,assessor_parcel,tract,block,lot,reference_no_old_permit_no,pcis_permit_no,status,status_date,permit_type,permit_sub_type,permit_category,project_number,event_code,initiating_office,issue_date,address_start,address_fraction_start,address_end,address_fraction_end,street_direction,street_name,street_suffix,suffix_direction,unit_range_start,unit_range_end,zip_code,work_description,valuation,floor_area_la_zoning_code_definition,no_of_residential_dwelling_units,no_of_accessory_dwelling_units,no_of_stories,contractors_business_name,contractor_address,contractor_city,contractor_state,license_type,license_no,principal_first_name,principal_middle_name,principal_last_name,license_expiration_date,applicant_first_name,applicant_last_name,applicant_business_name,applicant_address_1,applicant_address_2,applicant_address_3,zone,occupancy,floor_area_la_building_code_definition,census_tract,council_district,latitude_longitude,applicant_relationship,existing_code,proposed_code
0,4317,003,***,TR 30210-C,None,LT 1,None,15044-90000-08405,Permit Finaled,09/10/2015,HVAC,1 or 2 Family Dwelling,No Plan Check,None,None,INTERNET,2015-08-18,1823,1/2,1823,1/2,S,THAYER,AVE,None,None,None,90025.0,None,NaN,None,None,None,None,CONDITIONED AIRE MECHANICAL & ENGINEERING INC,18650 PARTHENIA STREET,NORTHRIDGE,CA,C20,532440,BRETT,MOORE,HOFFER,2016-06-30,BRETT,HOFFER,None,18650 PARTHENIA ST,None,"NORTHRIDGE, CA",R3-1-O,None,0,2671.00,5,"(34.05474, -118.42628)",Net Applicant,NaN,NaN
1,5005,010,017,CHESTERFIELD SQUARE,None,465,16SL57806,16016-70000-02464,Permit Finaled,08/01/2017,Bldg-Alter/Repair,1 or 2 Family Dwelling,No Plan Check,None,None,SOUTH LA,2016-02-04,2122,None,2122,None,W,54TH,ST,None,None,None,90062.0,General rehabilitation for single family dwell...,40000.0,None,None,None,None,OWNER-BUILDER,None,None,None,NA,0,JAVIER,None,TALAMANTES,None,JAVIER,TALAMANTES,OWNER-BUILDER,None,None,None,C2-1VL,None,None,2325.00,8,"(33.99307, -118.31668)",Owner-Bldr,1.0,NaN
2,5154,023,022,SUN-SET TRACT,D,13,14VN81535,14016-20000-13092,Issued,08/13/2014,Bldg-Alter/Repair,Apartment,Plan Check,None,None,VAN NUYS,2014-08-13,415,None,415,None,S,BURLINGTON,AVE,None,1-30,1-30,90057.0,PHOTOVOLTAIC SOLAR PANELS ON ROOF OF (E) APT BLDG,37000.0,None,None,None,None,PERMACITY CONSTRUCTION CORP,5570 W WASHINGTON BLVD,LOS ANGELES,CA,B,827864,JONATHAN,SAUL,PORT,2015-11-30,LINDA,MARTON,None,710 WILSHIRE BLVD,None,"SANTA MONICA, CA",R4-1,None,None,2089.04,1,"(34.06012, -118.26997)",Agent for Owner,5.0,NaN
3,4404,030,010,TR 12086,None,2,None,16044-30000-09658,Permit Finaled,08/29/2016,HVAC,1 or 2 Family Dwelling,No Plan Check,None,None,WEST LA,2016-08-22,315,None,315,None,S,OCEANO,DR,None,None,None,90049.0,None,NaN,None,None,None,None,E/C HEATING AND AIR CONDITION,26888 CUATRO MILPAS ST,VALENCIA,CA,C20,651051,EDY,RUDOLFO,CORDON,2018-07-31,None,None,None,None,None,None,RS-1,None,0,2640.00,11,"(34.05707, -118.4732)",Contractor,NaN,NaN
4,2646,019,011,TR 7158,None,11,None,17042-90000-31792,Permit Finaled,12/28/2017,Plumbing,1 or 2 Family Dwelling,No Plan Check,None,None,INTERNET,2017-12-26,13640,None,13640,None,W,PIERCE,ST,None,None,None,91331.0,None,NaN,None,None,None,None,TITANIUM POWER INC,1545 S LA CIENEGA BLVD,LOS ANGELES,CA,B,989217,DENNIS,HARUO,MIYAHIRA,2017-12-31,YONI,GHERMEZI,None,1545 S LA CIENEGA BLVD,None,"LOS ANGELES, CA",R1-1-O,None,0,1044.03,7,"(34.25487, -118.43002)",Net Applicant,NaN,NaN

In [56]:
data.shape
conn.close()

## 2. Clean Data

In [73]:
# Connect to db
conn = connect_db()

# Extract full dataset
sql_all = 'SELECT * FROM {};'.format(DB_TABLE)

# Fetch fresh data
#data = pd.read_sql_query(sql_all, conn)

In [75]:
data.head()

,assessor_book,assessor_page,assessor_parcel,tract,block,lot,reference_no_old_permit_no,pcis_permit_no,status,status_date,permit_type,permit_sub_type,permit_category,project_number,event_code,initiating_office,issue_date,address_start,address_fraction_start,address_end,address_fraction_end,street_direction,street_name,street_suffix,suffix_direction,unit_range_start,unit_range_end,zip_code,work_description,valuation,floor_area_la_zoning_code_definition,no_of_residential_dwelling_units,no_of_accessory_dwelling_units,no_of_stories,contractors_business_name,contractor_address,contractor_city,contractor_state,license_type,license_no,principal_first_name,principal_middle_name,principal_last_name,license_expiration_date,applicant_first_name,applicant_last_name,applicant_business_name,applicant_address_1,applicant_address_2,applicant_address_3,zone,occupancy,floor_area_la_building_code_definition,census_tract,council_district,latitude_longitude,applicant_relationship,existing_code,proposed_code
0,4317,003,***,TR 30210-C,None,LT 1,None,15044-90000-08405,Permit Finaled,09/10/2015,HVAC,1 or 2 Family Dwelling,No Plan Check,None,None,INTERNET,2015-08-18,1823,1/2,1823,1/2,S,THAYER,AVE,None,None,None,90025.0,None,NaN,None,None,None,None,CONDITIONED AIRE MECHANICAL & ENGINEERING INC,18650 PARTHENIA STREET,NORTHRIDGE,CA,C20,532440,BRETT,MOORE,HOFFER,2016-06-30,BRETT,HOFFER,None,18650 PARTHENIA ST,None,"NORTHRIDGE, CA",R3-1-O,None,0,2671.00,5,"(34.05474, -118.42628)",Net Applicant,NaN,NaN
1,5005,010,017,CHESTERFIELD SQUARE,None,465,16SL57806,16016-70000-02464,Permit Finaled,08/01/2017,Bldg-Alter/Repair,1 or 2 Family Dwelling,No Plan Check,None,None,SOUTH LA,2016-02-04,2122,None,2122,None,W,54TH,ST,None,None,None,90062.0,General rehabilitation for single family dwell...,40000.0,None,None,None,None,OWNER-BUILDER,None,None,None,NA,0,JAVIER,None,TALAMANTES,None,JAVIER,TALAMANTES,OWNER-BUILDER,None,None,None,C2-1VL,None,None,2325.00,8,"(33.99307, -118.31668)",Owner-Bldr,1.0,NaN
2,5154,023,022,SUN-SET TRACT,D,13,14VN81535,14016-20000-13092,Issued,08/13/2014,Bldg-Alter/Repair,Apartment,Plan Check,None,None,VAN NUYS,2014-08-13,415,None,415,None,S,BURLINGTON,AVE,None,1-30,1-30,90057.0,PHOTOVOLTAIC SOLAR PANELS ON ROOF OF (E) APT BLDG,37000.0,None,None,None,None,PERMACITY CONSTRUCTION CORP,5570 W WASHINGTON BLVD,LOS ANGELES,CA,B,827864,JONATHAN,SAUL,PORT,2015-11-30,LINDA,MARTON,None,710 WILSHIRE BLVD,None,"SANTA MONICA, CA",R4-1,None,None,2089.04,1,"(34.06012, -118.26997)",Agent for Owner,5.0,NaN
3,4404,030,010,TR 12086,None,2,None,16044-30000-09658,Permit Finaled,08/29/2016,HVAC,1 or 2 Family Dwelling,No Plan Check,None,None,WEST LA,2016-08-22,315,None,315,None,S,OCEANO,DR,None,None,None,90049.0,None,NaN,None,None,None,None,E/C HEATING AND AIR CONDITION,26888 CUATRO MILPAS ST,VALENCIA,CA,C20,651051,EDY,RUDOLFO,CORDON,2018-07-31,None,None,None,None,None,None,RS-1,None,0,2640.00,11,"(34.05707, -118.4732)",Contractor,NaN,NaN
4,2646,019,011,TR 7158,None,11,None,17042-90000-31792,Permit Finaled,12/28/2017,Plumbing,1 or 2 Family Dwelling,No Plan Check,None,None,INTERNET,2017-12-26,13640,None,13640,None,W,PIERCE,ST,None,None,None,91331.0,None,NaN,None,None,None,None,TITANIUM POWER INC,1545 S LA CIENEGA BLVD,LOS ANGELES,CA,B,989217,DENNIS,HARUO,MIYAHIRA,2017-12-31,YONI,GHERMEZI,None,1545 S LA CIENEGA BLVD,None,"LOS ANGELES, CA",R1-1-O,None,0,1044.03,7,"(34.25487, -118.43002)",Net Applicant,NaN,NaN

In [ ]:
# Create a smaller version of dataset
df = data[:1000]

### 2.1 Null Values, Missing Data & Data Types

#### Null Values & Missing Data

In [99]:
#data.isnull().sum()

assessor_book                                1324
assessor_page                                1324
assessor_parcel                              1324
tract                                        4735
block                                      925241
lot                                          8111
reference_no_old_permit_no                 633772
pcis_permit_no                                  0
status                                          0
status_date                                     0
permit_type                                     0
permit_sub_type                                 0
permit_category                                 0
project_number                            1136762
event_code                                1148177
initiating_office                               0
issue_date                                      0
address_start                                  10
address_fraction_start                    1132625
address_end                                    14
address_fraction_end                      1120871
street_direction                            11765
street_name                                     7
street_suffix                               23655
suffix_direction                          1140572
unit_range_start                           921077
unit_range_end                            1120448
zip_code                                       67
work_description                           633745
valuation                                  711200
floor_area_la_zoning_code_definition      1050197
no_of_residential_dwelling_units          1096112
no_of_accessory_dwelling_units            1135567
no_of_stories                             1052110
contractors_business_name                     494
contractor_address                         151404
contractor_city                            156976
contractor_state                           157086
license_type                                   21
license_no                                     21
principal_first_name                       141852
principal_middle_name                      436594
principal_last_name                        146682
license_expiration_date                    105784
applicant_first_name                       232298
applicant_last_name                        373947
applicant_business_name                   1027917
applicant_address_1                        534969
applicant_address_2                        965182
applicant_address_3                        542304
zone                                         2860
occupancy                                 1131731
floor_area_la_building_code_definition     241974
census_tract                                  800
council_district                              583
latitude_longitude                          63643
applicant_relationship                      32438
existing_code                              812989
proposed_code                             1000757
dtype: int64

#### Data Types

In [74]:
data.dtypes

assessor_book                              object
assessor_page                              object
assessor_parcel                            object
tract                                      object
block                                      object
lot                                        object
reference_no_old_permit_no                 object
pcis_permit_no                             object
status                                     object
status_date                                object
permit_type                                object
permit_sub_type                            object
permit_category                            object
project_number                             object
event_code                                 object
initiating_office                          object
issue_date                                 object
address_start                              object
address_fraction_start                     object
address_end                                object
address_fraction_end                       object
street_direction                           object
street_name                                object
street_suffix                              object
suffix_direction                           object
unit_range_start                           object
unit_range_end                             object
zip_code                                  float64
work_description                           object
valuation                                 float64
floor_area_la_zoning_code_definition       object
no_of_residential_dwelling_units           object
no_of_accessory_dwelling_units             object
no_of_stories                              object
contractors_business_name                  object
contractor_address                         object
contractor_city                            object
contractor_state                           object
license_type                               object
license_no                                 object
principal_first_name                       object
principal_middle_name                      object
principal_last_name                        object
license_expiration_date                    object
applicant_first_name                       object
applicant_last_name                        object
applicant_business_name                    object
applicant_address_1                        object
applicant_address_2                        object
applicant_address_3                        object
zone                                       object
occupancy                                  object
floor_area_la_building_code_definition     object
census_tract                               object
council_district                           object
latitude_longitude                         object
applicant_relationship                     object
existing_code                             float64
proposed_code                             float64
dtype: object

#### Summary
The columns *zip_code* and *latitude_longitude* need their missing values to be inferred through geocoding. Other missing data can remain as is.

#### Steps
1) Split *latitude_longitude* into separate columns and convert to float values: *latitude*, *longitude*<br>
2) Combine address columns into one columns: *full_address*<br>
3) Geocode missing *latitude_longitude* with *full_address*<br>
4) Geocode missing *zip_code* with complete *latitude_longitude*<br>
5) Geocode any missing *full_address* with *latitude_longitude*<br>
6) Convert *zip_code* to integer type<br>

In [242]:
# Creates a dataframe to show value counts for columns with less than n unique values
def explore_value_counts(dataframe, n):
    
    for column, row in dataframe.iteritems():
        
        series = dataframe[column]
        name = series.name
        
        if series.nunique() < n:
            counted = series.value_counts(sort=True)
            percent = series.value_counts(sort=True, normalize=True)
            summary = pd.concat([counted, percent], axis=1)
            summary.columns = ['COUNT', 'PERCENTAGE']
            #summary.index = summary.index.rename('"{}":'.format(name))
            summary.index = summary.index.rename('CATEGORIES:')
            
            #print('\n', summary, '\n', '\n"{}" total unique values: {}'.format(name, series.nunique()))
            print('\n', '\n"{}:"\n\nUnique values:  {}'.format(name, series.nunique()), '\n', summary)

In [243]:
explore_value_counts(df, 30)

"status:"

Unique values:  10
                     COUNT  PERCENTAGE
CATEGORIES:
Permit Finaled        724       0.724
Issued                150       0.150
Permit Expired         51       0.051
CofO Issued            38       0.038
Permit Closed          20       0.020
Refund Completed        9       0.009
Re-Activate Permit      3       0.003
CofO in Progress        2       0.002
CofC Issued             2       0.002
Refund in Progress      1       0.001


"permit_type:"

Unique values:  15
                       COUNT  PERCENTAGE
CATEGORIES:
Electrical              301       0.301
Bldg-Alter/Repair       220       0.220
Plumbing                203       0.203
HVAC                     90       0.090
Fire Sprinkler           55       0.055
Bldg-Addition            23       0.023
Bldg-Demolition          19       0.019
Bldg-New                 19       0.019
Grading                  16       0.016
Elevator                 13       0.013
Swimming-Pool/Spa        11       0.011
Nonbldg-New              11       0.011
Sign                      9       0.009
Nonbldg-Alter/Repair      7       0.007
Pressure Vessel           3       0.003


"permit_sub_type:"

Unique values:  5
                         COUNT  PERCENTAGE
CATEGORIES:
1 or 2 Family Dwelling    548       0.548
Commercial                267       0.267
Apartment                 164       0.164
Special Equipment          12       0.012
Onsite                      9       0.009


"permit_category:"

Unique values:  2
                COUNT  PERCENTAGE
CATEGORIES:
No Plan Check    675       0.675
Plan Check       325       0.325


"project_number:"

Unique values:  3
              COUNT  PERCENTAGE
CATEGORIES:
5                5    0.555556
1                3    0.333333
4                1    0.111111


"event_code:"

Unique values:  0
 Empty DataFrame
Columns: [COUNT, PERCENTAGE]
Index: []


"initiating_office:"

Unique values:  6
              COUNT  PERCENTAGE
CATEGORIES:
INTERNET       282       0.282
VAN NUYS       278       0.278
METRO          273       0.273
WEST LA         88       0.088
SOUTH LA        44       0.044
SANPEDRO        35       0.035


"address_fraction_start:"

Unique values:  2
              COUNT  PERCENTAGE
CATEGORIES:
1/2             11    0.916667
1/4              1    0.083333


"address_fraction_end:"

Unique values:  2
              COUNT  PERCENTAGE
CATEGORIES:
1/2             26    0.928571
1/4              2    0.071429


"street_direction:"

Unique values:  4
              COUNT  PERCENTAGE
CATEGORIES:
W              406    0.410931
N              319    0.322874
S              223    0.225709
E               40    0.040486


"street_suffix:"

Unique values:  15
              COUNT  PERCENTAGE
CATEGORIES:
AVE            338    0.347737
ST             289    0.297325
BLVD           145    0.149177
DR              80    0.082305
PL              37    0.038066
WAY             31    0.031893
ROAD            23    0.023663
LANE            10    0.010288
CT               5    0.005144
CIR              5    0.005144
PARK             3    0.003086
HWY              2    0.002058
TER              2    0.002058
RD               1    0.001029
PKWY             1    0.001029


"suffix_direction:"

Unique values:  4
              COUNT  PERCENTAGE
CATEGORIES:
EAST             4       0.500
WEST             2       0.250
WES              1       0.125
EAS              1       0.125


"unit_range_end:"

Unique values:  22
              COUNT  PERCENTAGE
CATEGORIES:
1-8              2    0.086957
corridor         1    0.043478
1-5              1    0.043478
1-49             1    0.043478
1650             1    0.043478
Lot 1            1    0.043478
214              1    0.043478
#52-F            1    0.043478
BLDG 8           1    0.043478
45TH FL          1    0.043478
STE 1960         1    0.043478
8                1    0.043478
1-9              1    0.043478
1-30             1    0.043478
2nd floor        1    0.043478
FLOOR            1    0.043478
#113             1    0.043478
Floor            1    0.043478
#5               1    0.043478
,20, 27&32       1    0.043478
63               1    0.043478
1-4              1    0.043478


"no_of_residential_dwelling_units:"

Unique values:  12
              COUNT  PERCENTAGE
CATEGORIES:
0               12    0.342857
-1               8    0.228571
1                5    0.142857
-2               2    0.057143
9                1    0.028571
63               1    0.028571
-8               1    0.028571
-9               1    0.028571
-10              1    0.028571
2                1    0.028571
8                1    0.028571
20               1    0.028571


"no_of_accessory_dwelling_units:"

Unique values:  0
 Empty DataFrame
Columns: [COUNT, PERCENTAGE]
Index: []


"no_of_stories:"

Unique values:  7
              COUNT  PERCENTAGE
CATEGORIES:
1               22    0.338462
0               21    0.323077
2               12    0.184615
3                6    0.092308
4                2    0.030769
-2               1    0.015385
5                1    0.015385


"contractor_state:"

Unique values:  14
              COUNT  PERCENTAGE
CATEGORIES:
CA             846    0.962457
WA               7    0.007964
GA               5    0.005688
FL               4    0.004551
NV               3    0.003413
TN               3    0.003413
CO               2    0.002275
NJ               2    0.002275
AZ               2    0.002275
UT               1    0.001138
TX               1    0.001138
NY               1    0.001138
NC               1    0.001138
MO               1    0.001138


"license_type:"

Unique values:  18
              COUNT  PERCENTAGE
CATEGORIES:
B              316       0.316
C10            189       0.189
C36            140       0.140
NA             120       0.120
C20             73       0.073
C16             54       0.054
C39             35       0.035
C46             16       0.016
C11             13       0.013
C53             12       0.012
C-7              8       0.008
C45              7       0.007
A                7       0.007
C21              6       0.006
D42              1       0.001
C38              1       0.001
C-6              1       0.001
C-4              1       0.001


"occupancy:"

Unique values:  2
                   COUNT  PERCENTAGE
CATEGORIES:
Misc. Occ. Group     10    0.833333
R3 Occ. Group         2    0.166667


"council_district:"

Unique values:  15
              COUNT  PERCENTAGE
CATEGORIES:
5              130       0.130
11             115       0.115
4              100       0.100
14              84       0.084
3               69       0.069
12              69       0.069
10              59       0.059
2               59       0.059
13              57       0.057
7               55       0.055
6               44       0.044
15              41       0.041
9               40       0.040
1               39       0.039
8               39       0.039


"applicant_relationship:"

Unique values:  11
                       COUNT  PERCENTAGE
CATEGORIES:
Contractor              280    0.288363
Net Applicant           278    0.286303
Agent for Contractor    164    0.168898
Agent for Owner         122    0.125644
Owner-Bldr               51    0.052523
Architect                31    0.031926
Engineer                 23    0.023687
Owner                    11    0.011329
Other                     8    0.008239
Tenant                    2    0.002060
Contractor Submittal      1    0.001030


"existing_code:"

Unique values:  20
              COUNT  PERCENTAGE
CATEGORIES:
1.0            154    0.566176
5.0             29    0.106618
7.0             17    0.062500
13.0            14    0.051471
16.0            12    0.044118
2.0             11    0.040441
35.0             7    0.025735
17.0             6    0.022059
23.0             5    0.018382
22.0             3    0.011029
20.0             3    0.011029
15.0             2    0.007353
11.0             2    0.007353
4.0              1    0.003676
8.0              1    0.003676
10.0             1    0.003676
18.0             1    0.003676
19.0             1    0.003676
6.0              1    0.003676
21.0             1    0.003676


"proposed_code:"

Unique values:  15
              COUNT  PERCENTAGE
CATEGORIES:
23.0            36    0.356436
1.0             10    0.099010
19.0             9    0.089109
20.0             9    0.089109
60.0             8    0.079208
70.0             8    0.079208
7.0              5    0.049505
16.0             4    0.039604
5.0              3    0.029703
35.0             3    0.029703
17.0             2    0.019802
13.0             1    0.009901
4.0              1    0.009901
61.0             1    0.009901
2.0              1    0.009901

In [209]:
df.nunique(axis=0)

assessor_book                              584
assessor_page                               45
assessor_parcel                             97
tract                                      835
block                                       81
lot                                        237
reference_no_old_permit_no                 350
pcis_permit_no                            1000
status                                      10
status_date                                731
permit_type                                 15
permit_sub_type                              5
permit_category                              2
project_number                               3
event_code                                   0
initiating_office                            6
issue_date                                 751
address_start                              908
address_fraction_start                       2
address_end                                909
address_fraction_end                         2
street_direction                             4
street_name                                711
street_suffix                               15
suffix_direction                             4
unit_range_start                           180
unit_range_end                              22
zip_code                                   113
work_description                           394
valuation                                  144
floor_area_la_zoning_code_definition        45
no_of_residential_dwelling_units            12
no_of_accessory_dwelling_units               0
no_of_stories                                7
contractors_business_name                  716
contractor_address                         724
contractor_city                            201
contractor_state                            14
license_type                                18
license_no                                 701
principal_first_name                       385
principal_middle_name                      299
principal_last_name                        637
license_expiration_date                    104
applicant_first_name                       457
applicant_last_name                        524
applicant_business_name                     79
applicant_address_1                        450
applicant_address_2                        114
applicant_address_3                        184
zone                                       245
occupancy                                    2
floor_area_la_building_code_definition      64
census_tract                               541
council_district                            15
latitude_longitude                         935
applicant_relationship                      11
existing_code                               20
proposed_code                               15
dtype: int64

In [ ]:
# Display number unique values for all columns
# Make generator
def explore_n_unique_gen(dataframe):
    
    for column, row in dataframe.iteritems():
        
        series = dataframe[column]
        name = series.name
        n_unique = series.nunique()
        n_unique_string = '"{}" unique items: {}'.format(name, n_unique)
        
        print(n_unique_string)

In [ ]:
# Creates a dataframe to show value counts for columns with less than n unique values
def explore_value_counts(dataframe, n):
    
    for column, row in dataframe.iteritems():
        
        series = dataframe[column]
        name = series.name
        
        if series.nunique() < n:
            counted = series.value_counts(sort=True)
            percent = series.value_counts(sort=True, normalize=True)
            summary = pd.concat([counted, percent], axis=1)
            summary.columns = ['Count', 'Percentage']
            summary.index = summary.index.rename('"{}" categories:'.format(name))
            
            print('\n', summary, '\n')

In [116]:
column = 'permit_type'
series = df[column]

In [166]:
series.name

'permit_type'

In [178]:
name = series.name
counted = series.value_counts(sort=True)
percent = series.value_counts(sort=True, normalize=True)
summary = pd.concat([counted, percent], axis=1)
#summary[name] = name
#summary.reset_index(inplace=True)
summary.columns = ['Count', 'Percentage']
summary.index = summary.index.rename('"{}" categories:'.format(name))
print(summary)

                           Count  Percentage
"permit_type" categories:
Electrical                   301       0.301
Bldg-Alter/Repair            220       0.220
Plumbing                     203       0.203
HVAC                          90       0.090
Fire Sprinkler                55       0.055
Bldg-Addition                 23       0.023
Bldg-Demolition               19       0.019
Bldg-New                      19       0.019
Grading                       16       0.016
Elevator                      13       0.013
Swimming-Pool/Spa             11       0.011
Nonbldg-New                   11       0.011
Sign                           9       0.009
Nonbldg-Alter/Repair           7       0.007
Pressure Vessel                3       0.003

In [140]:
# Display Pandas tables side-by-side
from IPython.display import display, HTML
HTML('<style>.output {flex-direction: column;}</style>')