# permits-data / Clean Data

ETL pipeline for construction permits data in Los Angeles, California, USA.

For more information:
https://data.lacity.org/A-Prosperous-City/Building-and-Safety-Permit-Information/yv23-pmwf

## Setup

In [237]:
import os
import sys

# Set path for modules
sys.path[0] = '../'

from dotenv import load_dotenv, find_dotenv
import numpy as np
import pandas as pd
import psycopg2

# Import custom eda and sql functions
from src.toolkits.eda import get_snapshot, explore_value_counts
from src.toolkits.sql import connect_db

# Import dependencies for geocoding
from geopy.geocoders import Nominatim
from geopy.geocoders import GoogleV3
from geopy.extra.rate_limiter import RateLimiter

In [238]:
# Set notebook display options
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)

In [239]:
# Get project root directory
root_dir = os.path.dirname(os.getcwd())

# Set environment variables
load_dotenv(find_dotenv());
POSTGRES_USER = os.getenv("POSTGRES_USER")
POSTGRES_PASSWORD = os.getenv("POSTGRES_PASSWORD")
POSTGRES_DB = os.getenv("POSTGRES_DB")
DB_PORT = os.getenv("DB_PORT")
DB_HOST = os.getenv("DB_HOST")
DATA_URL = os.getenv("DATA_URL")

# Google Maps environment variables
GOOGLE_API_KEY = os.getenv("GOOGLE_API_KEY")

# Environment variables specific to notebook
DATA_DIR = os.path.dirname(root_dir) + '/data'
DB_TABLE = "permits_raw"

## 1. Clean Data

In [240]:
# Connect to db
conn = connect_db()

# Extract partial dataset
sql_all = 'SELECT * FROM {} LIMIT 1500;'.format(DB_TABLE)

# Columns to parse as dates
date_columns = ['status_date', 'issue_date', 'license_expiration_date']

# Fetch fresh data
data = pd.read_sql_query(sql_all, conn, parse_dates=date_columns, coerce_float=False)

# Replace None with np.nan
data.fillna(np.nan, inplace=True)

Connected as user "postgres" to database "permits" on localhost:5432

### 1.1 Missing Data

#### Overview of Unique Values in Qualitative Data

Before making decisions about how to address missing values, it is important to be familiar with the content of each column. In some cases data can be left alone, imputed, recollected, or dropped from the dataset. Since the permits data has mostly qualitative data and unstructured text, most of it will be left alone.

In the case of geographic data such as addresses and lat/long coordinates, it will be necessary to accurately geocode the missing values. Since this information is split across several columns they will be concatenated into one column.

In [241]:
# Get an overview of data types, # unique values, # missing values and sample value
# for each column
get_snapshot(data)

,DATA TYPE,# UNIQUE VALUES,# MISSING VALUES,SAMPLE VALUE
COLUMN,,,,
assessor_book,float64,742,1,2106
assessor_page,float64,49,1,17
assessor_parcel,object,111,1,031
tract,object,1202,5,CABRILLO BEACH HEIGHTS TRACT
block,object,96,1178,9
lot,object,296,14,13
reference_no_old_permit_no,object,520,877,15WL68346
pcis_permit_no,object,1500,0,15026-10000-00305
status,object,11,0,Permit Finaled
status_date,datetime64[ns],962,0,2013-04-16 00:00:00
permit_type,object,15,0,Electrical
permit_sub_type,object,6,0,Commercial
permit_category,object,2,0,No Plan Check
project_number,float64,3,1485,5
initiating_office,object,6,0,METRO
issue_date,datetime64[ns],976,0,2013-02-14 00:00:00
address_start,int64,1327,0,19120
address_fraction_start,object,3,1476,1/2
address_end,int64,1325,0,13955
address_fraction_end,object,4,1457,1/2
street_direction,object,4,18,S
street_name,object,957,0,WALNUT
street_suffix,object,16,38,BLVD
suffix_direction,object,5,1491,WEST
unit_range_start,object,249,1203,1704
unit_range_end,object,28,1470,BUILDING C
zip_code,float64,114,1,91436
work_description,object,570,877,SUPPLEMENTAL PERMIT TO ADD PROVIDED PARKING FO...
valuation,object,177,984,25000.00
floor_area_la_zoning_code_definition,object,69,1397,484
no_of_residential_dwelling_units,float64,14,1449,-1
no_of_stories,float64,7,1402,1
contractors_business_name,object,1044,0,HERZOG M B ELECTRIC INC
contractor_address,object,1057,168,10680 W PICO BLVD STE #300
contractor_city,object,231,179,ENCINO
contractor_state,object,17,179,CA
license_type,object,24,0,C36
license_no,int64,1017,0,451059
principal_first_name,object,509,157,MARIO
principal_middle_name,object,396,558,MARCELINO
principal_last_name,object,903,166,WELTFREID
license_expiration_date,datetime64[ns],107,106,2016-06-30 00:00:00
applicant_first_name,object,604,323,L
applicant_last_name,object,735,476,MOFFA
applicant_business_name,object,116,1338,JABS POOLS AND SPAS
applicant_address_1,object,674,670,4320 S RAYMOND AVE
applicant_address_2,object,157,1247,691
applicant_address_3,object,249,676,"ANAHEIM, CA"
zone,object,310,2,RE15-1-H
occupancy,object,2,1480,Misc. Occ. Group
floor_area_la_building_code_definition,object,91,294,0
census_tract,object,694,1,1255.02
council_district,int64,15,0,3
latitude_longitude,object,1399,58,"(34.04893, -118.2572)"
applicant_relationship,object,12,41,Net Applicant
existing_code,float64,20,1098,5
proposed_code,float64,16,1343,60

At the moment the only missing data of interest are *zip_code* and *latitude_longitude* coordinates, since these are necesary for mapping.

### 1.2 Processing Missing Data

***Overview:***
* 1.2.1 - Combine address columns into one columns: *full_address*<br>
    - Correct *suffix_direction*
    - Convert *zip_code* to string
    - Concatenate to form *full_address*
* 1.2.2 - Geocode missing *latitude_longitude* with *full_address*<br>
* 1.2.3 - Split *latitude_longitude* into separate columns and convert to float values: *latitude*, *longitude*<br>
<br>
* Geocode missing *zip_code* with complete *latitude_longitude*<br>
* Geocode any missing *full_address* with *latitude_longitude*<br>

#### 1.2.1 Concatenate *full_address*

1) Correct values *suffix_direction*.<br>
2) Convert *zip_code* to string.<br>
3) Concatenate to form a complete street address string.

In [242]:
# Truncate suffix_direction to first letter (N, S, E, W)
data['suffix_direction'] = data['suffix_direction'].str[0].fillna('')

In [243]:
# Convert zip_code to string
data['zip_code'] = data['zip_code'].astype(str).str[:-2]

In [244]:
# Combine address columns to concatenate
address_columns = ["address_start", "street_direction", "street_name", "street_suffix", "suffix_direction",
                  "zip_code"]
# Concatenate address values
data['full_address'] = data[address_columns].fillna('').astype(str).apply(' '.join, axis=1).str.replace('  ', ' ')

In [245]:
# Display
data[address_columns + ['full_address']].head()

,address_start,street_direction,street_name,street_suffix,suffix_direction,zip_code,full_address
0,1823,S,THAYER,AVE,,90025,1823 S THAYER AVE 90025
1,2122,W,54TH,ST,,90062,2122 W 54TH ST 90062
2,415,S,BURLINGTON,AVE,,90057,415 S BURLINGTON AVE 90057
3,315,S,OCEANO,DR,,90049,315 S OCEANO DR 90049
4,13640,W,PIERCE,ST,,91331,13640 W PIERCE ST 91331

#### 1.2.2 Geocode missing *latitude_longitude*

In [246]:
# Extract rows missing latitude_longitude
data_missing = data[data['latitude_longitude'].isnull()==1]

# Size
data_missing.shape

(58, 60)

In [247]:
# Create helper function to geocode missing Latitude_Longitude values
def geocode(address):
    
    """Uses GoogleMaps API to geocode address strings to lat/long coordinates. RateLimiter is to 
    avoid timeout errors. Not all addresses can be geocoded, some NaN's will remain. Use of GoogleMaps 
    API incurs a charge at $0.005 per request."""
    
    if address:
        # Initializes GoogleMaps geocoder
        geolocator = GoogleV3(api_key=GOOGLE_API_KEY, 
                              user_agent="permits-data", 
                              timeout=None)

        # Adds Rate Limiter to space out requests
        geocode = RateLimiter(geolocator.geocode, min_delay_seconds=1)

        # Geocode address input and format for dataframe
        location = geolocator.geocode(address)
        
        latitude, longitude = format(round(location.latitude, 7), '6f'), format(round(location.longitude, 7), '6f')
        
        return latitude, longitude
    else:
        return np.nan

In [248]:
# Calculate cost
cost = len(data_missing) * 0.005
print("Cost for geocoding {} addresses is ${:.2f}.".format(len(data_missing), cost))

# Geocode missing coordinates using full addresses
data_missing['latitude_longitude'] = data_missing['full_address'].apply(geocode)

# Update dataframe
data.update(data_missing)

Cost for geocoding 58 addresses is $0.29.

/Users/gregory/anaconda3/envs/permits-data-env/lib/python3.5/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [249]:
# Check that there are no more missing coordinates before proceeding
assert data['latitude_longitude'].isnull().sum() == 0, "Missing coordinates must be geocoded."

#### 1.2.3 Split *latitude_longitude* 

Split coordinates into separate columns and convert to float values.

In [250]:
# Split latitude_longitude into separate columns and convert to float values: latitude, longitude
lat_long_series = data['latitude_longitude'].str[1:-1].str.split(',', expand=True) \
                        .astype(float).rename(columns={0: "latitude", 1: "longitude"})

# Add to original data
data = pd.concat([data, lat_long_series], axis=1)

In [251]:
# Display
data[['latitude_longitude', 'latitude', 'longitude']].head(1)

       latitude_longitude  latitude  longitude
0  (34.05474, -118.42628)  34.05474 -118.42628